src/Rac.VOne.Client.Screen/Service References/ReceiptService/ReceiptService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3061/ReceiptService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfReceiptInput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceiptInput" nillable="true" type="tns:ReceiptInput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceiptInput" nillable="true" type="tns:ArrayOfReceiptInput" />
  <xs:complexType name="ReceiptInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Apportioned" type="xs:int" />
      <xs:element minOccurs="0" name="Approved" type="xs:int" />
      <xs:element minOccurs="0" name="AssignmentAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AssignmentFlag" type="xs:int" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillBankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillBranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillDrawAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillDrawAtForPrint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillDrawer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollationKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeleteAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DensaiRegisterAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DueAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DueAtForPrint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExcludeAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExcludeCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExcludeFlag" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="InputType" type="xs:int" />
      <xs:element minOccurs="0" name="LearnKanaHistory" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineNo" type="xs:int" />
      <xs:element minOccurs="0" name="MailedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalReceiptId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="OriginalRecordedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutputAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PayerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerNameRaw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceiptAmountForPrint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptHeaderId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RecordAtForPrint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemainAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="SectionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SourceBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceBranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
      <xs:element minOccurs="0" name="Workday" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptInput" nillable="true" type="tns:ReceiptInput" />
  <xs:complexType name="ReceiptInputsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="ReceiptInputs" nillable="true" type="tns:ArrayOfReceiptInput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptInputsResult" nillable="true" type="tns:ReceiptInputsResult" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="CountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountResult" nillable="true" type="tns:CountResult" />
  <xs:complexType name="ReceiptsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="Receipts" nillable="true" type="tns:ArrayOfReceipt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptsResult" nillable="true" type="tns:ReceiptsResult" />
  <xs:complexType name="ArrayOfReceipt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Receipt" nillable="true" type="tns:Receipt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceipt" nillable="true" type="tns:ArrayOfReceipt" />
  <xs:complexType name="Receipt">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Apportioned" type="xs:int" />
      <xs:element minOccurs="0" name="Approved" type="xs:int" />
      <xs:element minOccurs="0" name="AssignmentAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AssignmentFlag" type="xs:int" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankTransferFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillBankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillBranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillDrawAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillDrawer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CancelFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="CategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollationKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCodeBuffer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerFee" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeleteAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DensaiRegisterAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DueAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExcludeAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExcludeCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExcludeCategoryCodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExcludeCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExcludeCategoryIdBuffer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExcludeCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExcludeFlag" type="xs:int" />
      <xs:element minOccurs="0" name="ExcludeFlagBuffer" type="xs:int" />
      <xs:element minOccurs="0" name="GeneralFee" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="InputType" type="xs:int" />
      <xs:element minOccurs="0" name="MailedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NettingId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Note1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalReceiptId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="OriginalRecordedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OriginalUpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutputAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PayerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerNameRaw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivateBankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessingAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RecExcOutputAt" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceiptCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptHeaderId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ReceiptMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptStatusFlag" type="xs:int" />
      <xs:element minOccurs="0" name="RecordNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemainAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="RemainAmountFlag" type="xs:int" />
      <xs:element minOccurs="0" name="SectionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SectionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceBranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TransferMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
      <xs:element minOccurs="0" name="UseAdvanceReceived" type="xs:int" />
      <xs:element minOccurs="0" name="UseCashOnDueDates" type="xs:int" />
      <xs:element minOccurs="0" name="UseFeeTolerance" type="xs:int" />
      <xs:element minOccurs="0" name="UseForeignCurrency" type="xs:int" />
      <xs:element minOccurs="0" name="Workday" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Receipt" nillable="true" type="tns:Receipt" />
  <xs:complexType name="ReceiptSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="AdvanceReceivedFlg" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AssignmentFlag" type="xs:int" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillBankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillBranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillDrawAtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillDrawAtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillDrawer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientKey" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerCodeFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCodeTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeleteAtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeleteAtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeleteFlg" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExcludeCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExcludeFlag" type="xs:int" />
      <xs:element minOccurs="0" name="ExistsMemo" type="xs:int" />
      <xs:element minOccurs="0" name="InputType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsEditable" type="xs:boolean" />
      <xs:element minOccurs="0" name="KobetsuType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginUserId" type="xs:int" />
      <xs:element minOccurs="0" name="Note1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageCount" type="xs:int" />
      <xs:element minOccurs="0" name="PayerCodePrefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerCodeSuffix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivateBankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptAmountFrom" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceiptAmountTo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceiptCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptCategoryCodeFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptCategoryCodeTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordedAtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RecordedAtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RemainAmountFrom" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RemainAmountTo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SectionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectionCodeFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectionCodeTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceBranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateAtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UseForeignCurrencyFlg" type="xs:int" />
      <xs:element minOccurs="0" name="UseSectionMaster" type="xs:boolean" />
      <xs:element minOccurs="0" name="UseSectionWork" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptSearch" nillable="true" type="tns:ReceiptSearch" />
  <xs:complexType name="AdvanceReceiptsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdvanceReceipts" nillable="true" type="tns:ArrayOfReceipt" />
      <xs:element minOccurs="0" name="OriginalReceipt" nillable="true" type="tns:Receipt" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdvanceReceiptsResult" nillable="true" type="tns:AdvanceReceiptsResult" />
  <xs:complexType name="ArrayOfReceiptExclude">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceiptExclude" nillable="true" type="tns:ReceiptExclude" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceiptExclude" nillable="true" type="tns:ArrayOfReceiptExclude" />
  <xs:complexType name="ReceiptExclude">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="ExcludeAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExcludeCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExcludeFlag" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="OutputAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReceiptId" type="xs:long" />
      <xs:element minOccurs="0" name="ReceiptUpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptExclude" nillable="true" type="tns:ReceiptExclude" />
  <xs:complexType name="ReceiptExcludeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="ReceiptExclude" nillable="true" type="tns:ArrayOfReceiptExclude" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptExcludeResult" nillable="true" type="tns:ReceiptExcludeResult" />
  <xs:complexType name="ReceiptResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="Receipt" nillable="true" type="tns:ArrayOfReceipt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptResult" nillable="true" type="tns:ReceiptResult" />
  <xs:complexType name="ReceiptMemoResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="ReceiptMemo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptMemoResult" nillable="true" type="tns:ReceiptMemoResult" />
  <xs:complexType name="ArrayOfAdvanceReceived">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdvanceReceived" nillable="true" type="tns:AdvanceReceived" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdvanceReceived" nillable="true" type="tns:ArrayOfAdvanceReceived" />
  <xs:complexType name="AdvanceReceived">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="LoginUserId" type="xs:int" />
      <xs:element minOccurs="0" name="OriginalReceiptId" type="xs:long" />
      <xs:element minOccurs="0" name="OriginalUpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReceiptCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptId" type="xs:long" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdvanceReceived" nillable="true" type="tns:AdvanceReceived" />
  <xs:complexType name="AdvanceReceivedResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdvancedReceiveItems" nillable="true" type="tns:ArrayOfAdvanceReceived" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdvanceReceivedResult" nillable="true" type="tns:AdvanceReceivedResult" />
  <xs:complexType name="ReceiptHeadersResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="ReceiptHeaders" nillable="true" type="tns:ArrayOfReceiptHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptHeadersResult" nillable="true" type="tns:ReceiptHeadersResult" />
  <xs:complexType name="ArrayOfReceiptHeader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceiptHeader" nillable="true" type="tns:ReceiptHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceiptHeader" nillable="true" type="tns:ArrayOfReceiptHeader" />
  <xs:complexType name="ReceiptHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="AccountTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssignmentFlag" type="xs:int" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="ExistApportioned" type="xs:int" />
      <xs:element minOccurs="0" name="FileType" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ImportAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImportCount" type="xs:int" />
      <xs:element minOccurs="0" name="ImportFileLogId" type="xs:int" />
      <xs:element minOccurs="0" name="IsAllApportioned" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptExcludes" nillable="true" type="tns:ArrayOfReceiptExclude" />
      <xs:element minOccurs="0" name="Receipts" nillable="true" type="tns:ArrayOfReceipt" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
      <xs:element minOccurs="0" name="Workday" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptHeader" nillable="true" type="tns:ReceiptHeader" />
  <xs:complexType name="ReceiptApportionsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="ReceiptApportion" nillable="true" type="tns:ArrayOfReceiptApportion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptApportionsResult" nillable="true" type="tns:ReceiptApportionsResult" />
  <xs:complexType name="ArrayOfReceiptApportion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceiptApportion" nillable="true" type="tns:ReceiptApportion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceiptApportion" nillable="true" type="tns:ArrayOfReceiptApportion" />
  <xs:complexType name="ReceiptApportion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apportioned" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoDelete" type="xs:int" />
      <xs:element minOccurs="0" name="ExcludeAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExcludeAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExcludeCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExcludeFlag" type="xs:int" />
      <xs:element minOccurs="0" name="ExcludeVirtualBranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LearnIgnoreKana" type="xs:int" />
      <xs:element minOccurs="0" name="LearnKanaHistory" type="xs:int" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerNameRaw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceiptExcludes" nillable="true" type="tns:ArrayOfReceiptExclude" />
      <xs:element minOccurs="0" name="ReceiptHeaderId" type="xs:long" />
      <xs:element minOccurs="0" name="RecordedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RefCustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefCustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RefCustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SectionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceBranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
      <xs:element minOccurs="0" name="Workday" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptApportion" nillable="true" type="tns:ReceiptApportion" />
  <xs:complexType name="ExistResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exist" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExistResult" nillable="true" type="tns:ExistResult" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="ArrayOfReceiptSectionTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceiptSectionTransfer" nillable="true" type="tns:ReceiptSectionTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceiptSectionTransfer" nillable="true" type="tns:ArrayOfReceiptSectionTransfer" />
  <xs:complexType name="ReceiptSectionTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancelFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DestinationReceiptId" type="xs:long" />
      <xs:element minOccurs="0" name="DestinationSectionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationSectionId" type="xs:int" />
      <xs:element minOccurs="0" name="DestinationSectionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InputType" type="xs:int" />
      <xs:element minOccurs="0" name="LoginUserCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precision" type="xs:int" />
      <xs:element minOccurs="0" name="PrintFlag" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptId" type="xs:long" />
      <xs:element minOccurs="0" name="RecordedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SourceAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="SourceReceiptId" type="xs:long" />
      <xs:element minOccurs="0" name="SourceSectionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceSectionId" type="xs:int" />
      <xs:element minOccurs="0" name="SourceSectionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptSectionTransfer" nillable="true" type="tns:ReceiptSectionTransfer" />
  <xs:complexType name="ReceiptSectionTransfersResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeleteReceipts" nillable="true" type="tns:ArrayOfReceipt" />
      <xs:element minOccurs="0" name="InsertReceipts" nillable="true" type="tns:ArrayOfReceipt" />
      <xs:element minOccurs="0" name="NotClearFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="ReceiptSectionTransfers" nillable="true" type="tns:ArrayOfReceiptSectionTransfer" />
      <xs:element minOccurs="0" name="TransferFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdateReceipts" nillable="true" type="tns:ArrayOfReceipt" />
      <xs:element minOccurs="0" name="sectionTransfer" nillable="true" type="tns:ArrayOfReceiptSectionTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptSectionTransfersResult" nillable="true" type="tns:ReceiptSectionTransfersResult" />
  <xs:complexType name="ArrayOfReceiptImportDuplication">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceiptImportDuplication" nillable="true" type="tns:ReceiptImportDuplication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceiptImportDuplication" nillable="true" type="tns:ArrayOfReceiptImportDuplication" />
  <xs:complexType name="ReceiptImportDuplication">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillBankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillBranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillDrawAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillDrawer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DueAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Note1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceiptCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RecordedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RowNumber" type="xs:int" />
      <xs:element minOccurs="0" name="SectionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SourceBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceBranchName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptImportDuplication" nillable="true" type="tns:ReceiptImportDuplication" />
  <xs:complexType name="ArrayOfImporterSettingDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImporterSettingDetail" nillable="true" type="tns:ImporterSettingDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImporterSettingDetail" nillable="true" type="tns:ArrayOfImporterSettingDetail" />
  <xs:complexType name="ImporterSettingDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeDivision" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BaseAttributeDivision" type="xs:int" />
      <xs:element minOccurs="0" name="BaseImportDivision" type="xs:int" />
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="DoOverwrite" type="xs:int" />
      <xs:element minOccurs="0" name="FieldIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FixedValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImportDivision" type="xs:int" />
      <xs:element minOccurs="0" name="ImporterSettingId" type="xs:int" />
      <xs:element minOccurs="0" name="ImporterSettingUpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsUnique" type="xs:int" />
      <xs:element minOccurs="0" name="ItemPriority" type="xs:int" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="TargetColumn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateKey" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImporterSettingDetail" nillable="true" type="tns:ImporterSettingDetail" />
  <xs:complexType name="ReceiptImportDuplicationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RowNumbers" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptImportDuplicationResult" nillable="true" type="tns:ReceiptImportDuplicationResult" />
  <xs:complexType name="ArrayOfAdvanceReceivedSplit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdvanceReceivedSplit" nillable="true" type="tns:AdvanceReceivedSplit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdvanceReceivedSplit" nillable="true" type="tns:ArrayOfAdvanceReceivedSplit" />
  <xs:complexType name="AdvanceReceivedSplit">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessingAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReceiptAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="StaffId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdvanceReceivedSplit" nillable="true" type="tns:AdvanceReceivedSplit" />
  <xs:complexType name="VoidResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoidResult" nillable="true" type="tns:VoidResult" />
  <xs:complexType name="JournalizingOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="ContainAdvanceReceivedMatching" type="xs:boolean" />
      <xs:element minOccurs="0" name="ContainAdvanceReceivedOccured" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreateAtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateAtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrencyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsGeneral" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOutputted" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="JournalizingTypes" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="LoginUserId" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OutputAt" nillable="true" type="q3:ArrayOfdateTime" />
      <xs:element minOccurs="0" name="OutputCustoemrName" type="xs:boolean" />
      <xs:element minOccurs="0" name="RecordedAtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RecordedAtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UseDiscount" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JournalizingOption" nillable="true" type="tns:JournalizingOption" />
  <xs:complexType name="JournalizingSummariesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="JournalizingsSummaries" nillable="true" type="tns:ArrayOfJournalizingSummary" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JournalizingSummariesResult" nillable="true" type="tns:JournalizingSummariesResult" />
  <xs:complexType name="ArrayOfJournalizingSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JournalizingSummary" nillable="true" type="tns:JournalizingSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJournalizingSummary" nillable="true" type="tns:ArrayOfJournalizingSummary" />
  <xs:complexType name="JournalizingSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutputAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JournalizingSummary" nillable="true" type="tns:JournalizingSummary" />
  <xs:complexType name="ReceiptJournalizingsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="ReceiptJournalizings" nillable="true" type="tns:ArrayOfReceiptJournalizing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptJournalizingsResult" nillable="true" type="tns:ReceiptJournalizingsResult" />
  <xs:complexType name="ArrayOfReceiptJournalizing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceiptJournalizing" nillable="true" type="tns:ReceiptJournalizing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceiptJournalizing" nillable="true" type="tns:ArrayOfReceiptJournalizing" />
  <xs:complexType name="ReceiptJournalizing">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreditAccountTitleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditAccountTitleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditDepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditDepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditSubCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditSubName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebitAccountTitleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebitAccountTitleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebitDepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebitDepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebitSubCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebitSubName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SlipNumber" type="xs:long" />
      <xs:element minOccurs="0" name="SourceBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceBranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptJournalizing" nillable="true" type="tns:ReceiptJournalizing" />
  <xs:complexType name="GeneralJournalizingsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="GeneralJournalizings" nillable="true" type="tns:ArrayOfGeneralJournalizing" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralJournalizingsResult" nillable="true" type="tns:GeneralJournalizingsResult" />
  <xs:complexType name="ArrayOfGeneralJournalizing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeneralJournalizing" nillable="true" type="tns:GeneralJournalizing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeneralJournalizing" nillable="true" type="tns:ArrayOfGeneralJournalizing" />
  <xs:complexType name="GeneralJournalizing">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdvanceReceivedBackupId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="AdvanceReceivedCustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AdvanceReceivedParentCustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Approved" type="xs:boolean" />
      <xs:element minOccurs="0" name="BillingCustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillingDepartmentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillingDepartmentStaffId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillingId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="BillingParentCustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillingStaffDepartmentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillingStaffId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="JournalizingType" type="xs:int" />
      <xs:element minOccurs="0" name="MatchingId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Precision" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptCustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptExcludeId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ReceiptId" type="xs:long" />
      <xs:element minOccurs="0" name="ReceiptParentCustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ScheduledIncomeBillingId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ScheduledIncomeMatchingHeaderId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ScheduledIncomeReceiptId" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralJournalizing" nillable="true" type="tns:GeneralJournalizing" />
</xs:schema>