src/Rac.VOne.Client.Screen/Service References/ReportSettingMasterService/ReportSettingMaster2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReportSettingsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="ReportSettings" nillable="true" type="tns:ArrayOfReportSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportSettingsResult" nillable="true" type="tns:ReportSettingsResult" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="ArrayOfReportSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportSetting" nillable="true" type="tns:ReportSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportSetting" nillable="true" type="tns:ArrayOfReportSetting" />
  <xs:complexType name="ReportSetting">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
      <xs:element minOccurs="0" name="IsText" type="xs:int" />
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SettingList" nillable="true" type="tns:ArrayOfSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportSetting" nillable="true" type="tns:ReportSetting" />
  <xs:complexType name="ArrayOfSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Setting" nillable="true" type="tns:Setting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSetting" nillable="true" type="tns:ArrayOfSetting" />
  <xs:complexType name="Setting">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Setting" nillable="true" type="tns:Setting" />
</xs:schema>