src/Rac.VOne.Client.Screen/Service References/TaxClassMasterService/TaxClassMaster2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TaxClassResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="TaxClass" nillable="true" type="tns:ArrayOfTaxClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxClassResult" nillable="true" type="tns:TaxClassResult" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="ArrayOfTaxClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxClass" nillable="true" type="tns:TaxClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaxClass" nillable="true" type="tns:ArrayOfTaxClass" />
  <xs:complexType name="TaxClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxClass" nillable="true" type="tns:TaxClass" />
</xs:schema>