src/Rac.VOne.EbData/Service References/CategoryMasterService/CategoryMaster1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3061/Master/CategoryMaster.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CategoriesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categories" nillable="true" type="tns:ArrayOfCategory" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriesResult" nillable="true" type="tns:CategoriesResult" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountTitleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTitleId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountTitleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryCompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryType" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="ExcludeInvoicePublish" type="xs:int" />
      <xs:element minOccurs="0" name="ExternalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForceMatchingIndividually" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IntValue1" type="xs:int" />
      <xs:element minOccurs="0" name="IntValue2" type="xs:int" />
      <xs:element minOccurs="0" name="IntValue3" type="xs:int" />
      <xs:element minOccurs="0" name="IntValue4" type="xs:int" />
      <xs:element minOccurs="0" name="IntValue5" type="xs:int" />
      <xs:element minOccurs="0" name="MatchingOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumericValue1" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumericValue2" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumericValue3" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumericValue4" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumericValue5" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaymentAgencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentAgencyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentAgencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StringValue1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StringValue2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StringValue3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StringValue4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StringValue5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxClassId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TaxClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
      <xs:element minOccurs="0" name="UseAccountTransfer" type="xs:int" />
      <xs:element minOccurs="0" name="UseAdvanceReceived" type="xs:int" />
      <xs:element minOccurs="0" name="UseCashOnDueDates" type="xs:int" />
      <xs:element minOccurs="0" name="UseDiscount" type="xs:int" />
      <xs:element minOccurs="0" name="UseInput" type="xs:int" />
      <xs:element minOccurs="0" name="UseLimitDate" type="xs:int" />
      <xs:element minOccurs="0" name="UseLongTermAdvanceReceived" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="CategorySearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryType" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Codes" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseAccountTransfer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UseCommonSearch" type="xs:boolean" />
      <xs:element minOccurs="0" name="UseInput" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UseLimitDate" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategorySearch" nillable="true" type="tns:CategorySearch" />
  <xs:complexType name="ExistResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exist" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExistResult" nillable="true" type="tns:ExistResult" />
  <xs:complexType name="CategoryResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryResult" nillable="true" type="tns:CategoryResult" />
  <xs:complexType name="CountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountResult" nillable="true" type="tns:CountResult" />
</xs:schema>