src/Rac.VOne.Client.Screen/Service References/CollationSettingMasterService/CollationSettingMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CollationSettingMaster" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/Master/CollationSettingMaster.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/CollationSettingMaster.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/CollationSettingMaster.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICollationSettingMaster_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="ICollationSettingMaster_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="ICollationSettingMaster_GetCollationOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCollationOrder" />
  </wsdl:message>
  <wsdl:message name="ICollationSettingMaster_GetCollationOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCollationOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ICollationSettingMaster_GetMatchingBillingOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchingBillingOrder" />
  </wsdl:message>
  <wsdl:message name="ICollationSettingMaster_GetMatchingBillingOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchingBillingOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ICollationSettingMaster_GetMatchingReceiptOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchingReceiptOrder" />
  </wsdl:message>
  <wsdl:message name="ICollationSettingMaster_GetMatchingReceiptOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchingReceiptOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ICollationSettingMaster_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="ICollationSettingMaster_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:portType name="ICollationSettingMaster">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollationSettingMaster/Get" message="tns:ICollationSettingMaster_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollationSettingMaster/GetResponse" message="tns:ICollationSettingMaster_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCollationOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollationSettingMaster/GetCollationOrder" message="tns:ICollationSettingMaster_GetCollationOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollationSettingMaster/GetCollationOrderResponse" message="tns:ICollationSettingMaster_GetCollationOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchingBillingOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollationSettingMaster/GetMatchingBillingOrder" message="tns:ICollationSettingMaster_GetMatchingBillingOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollationSettingMaster/GetMatchingBillingOrderResponse" message="tns:ICollationSettingMaster_GetMatchingBillingOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchingReceiptOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollationSettingMaster/GetMatchingReceiptOrder" message="tns:ICollationSettingMaster_GetMatchingReceiptOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollationSettingMaster/GetMatchingReceiptOrderResponse" message="tns:ICollationSettingMaster_GetMatchingReceiptOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollationSettingMaster/Save" message="tns:ICollationSettingMaster_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollationSettingMaster/SaveResponse" message="tns:ICollationSettingMaster_Save_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICollationSettingMaster" type="tns:ICollationSettingMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/ICollationSettingMaster/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollationOrder">
      <soap:operation soapAction="http://tempuri.org/ICollationSettingMaster/GetCollationOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchingBillingOrder">
      <soap:operation soapAction="http://tempuri.org/ICollationSettingMaster/GetMatchingBillingOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchingReceiptOrder">
      <soap:operation soapAction="http://tempuri.org/ICollationSettingMaster/GetMatchingReceiptOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/ICollationSettingMaster/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CollationSettingMaster">
    <wsdl:port name="BasicHttpBinding_ICollationSettingMaster" binding="tns:BasicHttpBinding_ICollationSettingMaster">
      <soap:address location="http://localhost:3061/Master/CollationSettingMaster.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>