src/Rac.VOne.Client.Screen/Service References/MatchingService/MatchingService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3061/MatchingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
  <xs:import schemaLocation="http://localhost:3061/MatchingService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Collate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="CollationSearch" nillable="true" type="q1:CollationSearch" />
        <xs:element minOccurs="0" name="connectionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="CollateResult" nillable="true" type="q2:CollationsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SequentialMatching">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="Collations" nillable="true" type="q3:ArrayOfCollation" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="CollationSearch" nillable="true" type="q4:CollationSearch" />
        <xs:element minOccurs="0" name="connectionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SequentialMatchingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SequentialMatchingResult" nillable="true" type="q5:MatchingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMatchedData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="CollationSearch" nillable="true" type="q6:CollationSearch" />
        <xs:element minOccurs="0" name="connectionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMatchedDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SearchMatchedDataResult" nillable="true" type="q7:MatchingHeadersResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMatching">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="MatchingHeader" nillable="true" type="q8:ArrayOfMatchingHeader" />
        <xs:element minOccurs="0" name="LoginUserId" type="xs:int" />
        <xs:element minOccurs="0" name="connectionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMatchingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="CancelMatchingResult" nillable="true" type="q9:MatchingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBillingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="MatchingBillingSearch" nillable="true" type="q10:MatchingBillingSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBillingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SearchBillingDataResult" nillable="true" type="q11:BillingsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchReceiptData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="MatchingReceiptSearch" nillable="true" type="q12:MatchingReceiptSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchReceiptDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SearchReceiptDataResult" nillable="true" type="q13:ReceiptsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Solve">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="source" nillable="true" type="q14:MatchingSource" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="option" nillable="true" type="q15:CollationSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SolveResult" nillable="true" type="q16:MatchingSourceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatchingIndividually">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="source" nillable="true" type="q17:MatchingSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatchingIndividuallyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="MatchingIndividuallyResult" nillable="true" type="q18:MatchingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Simulate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="MatchingBilling" nillable="true" type="q19:ArrayOfBilling" />
        <xs:element minOccurs="0" name="SearchValue" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimulateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SimulateResult" nillable="true" type="q20:BillingIndicesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Approve">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="headers" nillable="true" type="q21:ArrayOfMatchingHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ApproveResult" nillable="true" type="q22:MatchingHeadersResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="headers" nillable="true" type="q23:ArrayOfMatchingHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="CancelApprovalResult" nillable="true" type="q24:MatchingHeadersResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchReceiptById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ReceiptId" nillable="true" type="q25:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchReceiptByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="searchReceiptByIdResult" nillable="true" type="q26:ReceiptsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q27:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetResult" nillable="true" type="q28:MatchingsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeaderItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q29:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeaderItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetHeaderItemsResult" nillable="true" type="q30:MatchingHeadersResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchingJournalizingDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="option" nillable="true" type="q31:JournalizingOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchingJournalizingDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetMatchingJournalizingDetailResult" nillable="true" type="q32:MatchingJournalizingDetailsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMatchingJournalizingDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="MatchingJournalizingDetail" nillable="true" type="q33:ArrayOfMatchingJournalizingDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMatchingJournalizingDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="CancelMatchingJournalizingDetailResult" nillable="true" type="q34:MatchingJournalizingProcessResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchingJournalizingSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="option" nillable="true" type="q35:JournalizingOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchingJournalizingSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetMatchingJournalizingSummaryResult" nillable="true" type="q36:JournalizingSummariesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtractMatchingJournalizing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="option" nillable="true" type="q37:JournalizingOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtractMatchingJournalizingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ExtractMatchingJournalizingResult" nillable="true" type="q38:MatchingJournalizingsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtractGeneralJournalizing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="option" nillable="true" type="q39:JournalizingOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtractGeneralJournalizingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ExtractGeneralJournalizingResult" nillable="true" type="q40:GeneralJournalizingsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchedReceipt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="option" nillable="true" type="q41:JournalizingOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchedReceiptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetMatchedReceiptResult" nillable="true" type="q42:MatchedReceiptsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOutputAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="option" nillable="true" type="q43:JournalizingOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOutputAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="UpdateOutputAtResult" nillable="true" type="q44:MatchingJournalizingProcessResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMatchingJournalizing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="option" nillable="true" type="q45:JournalizingOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMatchingJournalizingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="CancelMatchingJournalizingResult" nillable="true" type="q46:MatchingJournalizingProcessResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWorkDepartmentTarget">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="ClientKey" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DepartmentIds" nillable="true" type="q47:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWorkDepartmentTargetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SaveWorkDepartmentTargetResult" nillable="true" type="q48:CountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWorkSectionTarget">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="ClientKey" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SectionIds" nillable="true" type="q49:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWorkSectionTargetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SaveWorkSectionTargetResult" nillable="true" type="q50:CountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MFExtractMatchingJournalizing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="option" nillable="true" type="q51:JournalizingOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MFExtractMatchingJournalizingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="MFExtractMatchingJournalizingResult" nillable="true" type="q52:MatchingJournalizingsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>