src/Rac.VOne.Client.Screen/Service References/MatchingService/MatchingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3061/MatchingService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CollationSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdvanceReceivedRecordedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AmountType" type="xs:int" />
      <xs:element minOccurs="0" name="Approved" type="xs:boolean" />
      <xs:element minOccurs="0" name="BillingType" type="xs:int" />
      <xs:element minOccurs="0" name="ClientKey" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DoTransferAdvanceReceived" type="xs:boolean" />
      <xs:element minOccurs="0" name="DueAtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DueAtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LimitDateType" type="xs:int" />
      <xs:element minOccurs="0" name="LoginUserId" type="xs:int" />
      <xs:element minOccurs="0" name="RecordedAtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RecordedAtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RecordedAtType" type="xs:int" />
      <xs:element minOccurs="0" name="UseAdvanceReceived" type="xs:boolean" />
      <xs:element minOccurs="0" name="UseDepartmentWork" type="xs:boolean" />
      <xs:element minOccurs="0" name="UseSectionWork" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollationSearch" nillable="true" type="tns:CollationSearch" />
  <xs:complexType name="CollationsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Collation" nillable="true" type="tns:ArrayOfCollation" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollationsResult" nillable="true" type="tns:CollationsResult" />
  <xs:complexType name="ArrayOfCollation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Collation" nillable="true" type="tns:Collation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCollation" nillable="true" type="tns:ArrayOfCollation" />
  <xs:complexType name="Collation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdvanceReceivedCount" type="xs:int" />
      <xs:element minOccurs="0" name="BankTransferFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingCount" type="xs:int" />
      <xs:element minOccurs="0" name="BillingDisplayOrder" type="xs:int" />
      <xs:element minOccurs="0" name="BillingOrder" type="xs:int" />
      <xs:element minOccurs="0" name="BillingPriority" type="xs:int" />
      <xs:element minOccurs="0" name="Checked" type="xs:boolean" />
      <xs:element minOccurs="0" name="CompnayId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyTolerance" type="xs:decimal" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DispBillingAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DispBillingCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DispCustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DispCustomerKana" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DispCustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DispReceiptAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DispReceiptCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
      <xs:element minOccurs="0" name="DupeCheck" type="xs:int" />
      <xs:element minOccurs="0" name="ForceMatchingIndividually" type="xs:int" />
      <xs:element minOccurs="0" name="IsParent" type="xs:int" />
      <xs:element minOccurs="0" name="ParentCustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentAgencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentAgencyId" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentAgencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrioritizeMatchingIndividually" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceiptCount" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptDisplayOrder" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptOrder" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptPriority" type="xs:int" />
      <xs:element minOccurs="0" name="ShareTransferFee" type="xs:int" />
      <xs:element minOccurs="0" name="TaxDifference" type="xs:decimal" />
      <xs:element minOccurs="0" name="UpdateFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="UseFeeLearning" type="xs:int" />
      <xs:element minOccurs="0" name="UseFeeTolerance" type="xs:int" />
      <xs:element minOccurs="0" name="UseKanaLearning" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Collation" nillable="true" type="tns:Collation" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="MatchingResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdvanceReceiveds" nillable="true" type="tns:ArrayOfAdvanceReceived" />
      <xs:element minOccurs="0" name="DeleteReceipts" nillable="true" type="tns:ArrayOfReceipt" />
      <xs:element minOccurs="0" name="ErrorIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Matching" nillable="true" type="tns:Matching" />
      <xs:element minOccurs="0" name="MatchingErrorType" type="tns:MatchingErrorType" />
      <xs:element minOccurs="0" name="Matchings" nillable="true" type="tns:ArrayOfMatching" />
      <xs:element minOccurs="0" name="NettingReceipts" nillable="true" type="tns:ArrayOfReceipt" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchingResult" nillable="true" type="tns:MatchingResult" />
  <xs:complexType name="ArrayOfAdvanceReceived">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdvanceReceived" nillable="true" type="tns:AdvanceReceived" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdvanceReceived" nillable="true" type="tns:ArrayOfAdvanceReceived" />
  <xs:complexType name="AdvanceReceived">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="LoginUserId" type="xs:int" />
      <xs:element minOccurs="0" name="OriginalReceiptId" type="xs:long" />
      <xs:element minOccurs="0" name="OriginalUpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReceiptCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptId" type="xs:long" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdvanceReceived" nillable="true" type="tns:AdvanceReceived" />
  <xs:complexType name="ArrayOfReceipt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Receipt" nillable="true" type="tns:Receipt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceipt" nillable="true" type="tns:ArrayOfReceipt" />
  <xs:complexType name="Receipt">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Apportioned" type="xs:int" />
      <xs:element minOccurs="0" name="Approved" type="xs:int" />
      <xs:element minOccurs="0" name="AssignmentAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AssignmentFlag" type="xs:int" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankTransferFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillBankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillBranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillDrawAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillDrawer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CancelFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="CategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollationKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCodeBuffer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerFee" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeleteAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DensaiRegisterAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DueAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExcludeAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExcludeCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExcludeCategoryCodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExcludeCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExcludeCategoryIdBuffer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExcludeCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExcludeFlag" type="xs:int" />
      <xs:element minOccurs="0" name="ExcludeFlagBuffer" type="xs:int" />
      <xs:element minOccurs="0" name="GeneralFee" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="InputType" type="xs:int" />
      <xs:element minOccurs="0" name="MailedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NettingId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Note1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalReceiptId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="OriginalRecordedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OriginalUpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutputAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PayerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerNameRaw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivateBankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessingAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RecExcOutputAt" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceiptCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptHeaderId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ReceiptMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptStatusFlag" type="xs:int" />
      <xs:element minOccurs="0" name="RecordNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemainAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="RemainAmountFlag" type="xs:int" />
      <xs:element minOccurs="0" name="SectionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SectionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceBranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TransferMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
      <xs:element minOccurs="0" name="UseAdvanceReceived" type="xs:int" />
      <xs:element minOccurs="0" name="UseCashOnDueDates" type="xs:int" />
      <xs:element minOccurs="0" name="UseFeeTolerance" type="xs:int" />
      <xs:element minOccurs="0" name="UseForeignCurrency" type="xs:int" />
      <xs:element minOccurs="0" name="Workday" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Receipt" nillable="true" type="tns:Receipt" />
  <xs:complexType name="Matching">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdvanceReceivedOccured" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BankTransferFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingId" type="xs:long" />
      <xs:element minOccurs="0" name="BillingRemain" type="xs:decimal" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="DiscountAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAmount1" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAmount2" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAmount3" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAmount4" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAmount5" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsNetting" type="xs:boolean" />
      <xs:element minOccurs="0" name="MatchingHeaderId" type="xs:long" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OffsetAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="OutputAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptHeaderId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ReceiptId" type="xs:long" />
      <xs:element minOccurs="0" name="ReceiptRemain" type="xs:decimal" />
      <xs:element minOccurs="0" name="RecordedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SourceBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceBranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxDifference" type="xs:decimal" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
      <xs:element minOccurs="0" name="UseCashOnDueDates" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Matching" nillable="true" type="tns:Matching" />
  <xs:simpleType name="MatchingErrorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="BillingRemainChanged" />
      <xs:enumeration value="BillingDiscountChanged" />
      <xs:enumeration value="ReceiptRemainChanged" />
      <xs:enumeration value="BillingOmitted" />
      <xs:enumeration value="ReceiptOmitted" />
      <xs:enumeration value="CashOnDueDateOmitted" />
      <xs:enumeration value="NotExistBillingData" />
      <xs:enumeration value="NotExistReceiptData" />
      <xs:enumeration value="CancelError" />
      <xs:enumeration value="ProcessCanceled" />
      <xs:enumeration value="DBError" />
      <xs:enumeration value="PostProcessError" />
      <xs:enumeration value="MatchingHeaderChanged" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MatchingErrorType" nillable="true" type="tns:MatchingErrorType" />
  <xs:complexType name="ArrayOfMatching">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Matching" nillable="true" type="tns:Matching" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatching" nillable="true" type="tns:ArrayOfMatching" />
  <xs:complexType name="MatchingHeadersResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchingHeaders" nillable="true" type="tns:ArrayOfMatchingHeader" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchingHeadersResult" nillable="true" type="tns:MatchingHeadersResult" />
  <xs:complexType name="ArrayOfMatchingHeader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchingHeader" nillable="true" type="tns:MatchingHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchingHeader" nillable="true" type="tns:ArrayOfMatchingHeader" />
  <xs:complexType name="MatchingHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Approved" type="xs:int" />
      <xs:element minOccurs="0" name="BankTransferFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingCount" type="xs:int" />
      <xs:element minOccurs="0" name="BillingDisplayOrder" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DispCustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DispCustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="MatchingProcessType" type="xs:int" />
      <xs:element minOccurs="0" name="MatchingUpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentAgencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentAgencyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceiptCount" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptDisplayOrder" type="xs:int" />
      <xs:element minOccurs="0" name="ShareTransferFee" type="xs:int" />
      <xs:element minOccurs="0" name="TaxDifference" type="xs:decimal" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchingHeader" nillable="true" type="tns:MatchingHeader" />
  <xs:complexType name="MatchingBillingSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingDataType" type="xs:int" />
      <xs:element minOccurs="0" name="ClientKey" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DueAtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DueAtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsParent" type="xs:int" />
      <xs:element minOccurs="0" name="MatchingHeaderId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ParentCustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentAgencyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UseCashOnDueDates" type="xs:int" />
      <xs:element minOccurs="0" name="UseDepartment" type="xs:int" />
      <xs:element minOccurs="0" name="UseReceiptSection" type="xs:int" />
      <xs:element minOccurs="0" name="UseSectionMaster" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchingBillingSearch" nillable="true" type="tns:MatchingBillingSearch" />
  <xs:complexType name="BillingsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Billings" nillable="true" type="tns:ArrayOfBilling" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingsResult" nillable="true" type="tns:BillingsResult" />
  <xs:complexType name="ArrayOfBilling">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Billing" nillable="true" type="tns:Billing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBilling" nillable="true" type="tns:ArrayOfBilling" />
  <xs:complexType name="Billing">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountTitleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTransferLogId" type="xs:long" />
      <xs:element minOccurs="0" name="Approved" type="xs:int" />
      <xs:element minOccurs="0" name="AssignmentAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AssignmentFlag" type="xs:int" />
      <xs:element minOccurs="0" name="BankTransferFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="BilledAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillingAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="BillingCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingDiscountId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="BillingDivisionContract" type="xs:int" />
      <xs:element minOccurs="0" name="BillingDueAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillingId" type="xs:int" />
      <xs:element minOccurs="0" name="BillingInputId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="BillingInputPublishAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillingInputTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryCodeAndName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClosingAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CollectCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollectCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CollectCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="Confirm" type="xs:int" />
      <xs:element minOccurs="0" name="ContractNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="CreditAccountTitleId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyPrecision" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerKana" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebitAccountTitleId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeleteAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DiscountAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAmount1" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAmount2" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAmount3" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAmount4" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAmount5" type="xs:decimal" />
      <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
      <xs:element minOccurs="0" name="DueAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstRecordedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="InputType" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsParent" type="xs:int" />
      <xs:element minOccurs="0" name="LastRecordedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoginUserCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDueAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Note1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OffsetAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrgCategoryCodeAndName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalCollectCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OriginalDueAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutputAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ParentCustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentCustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="ParentCustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PeriodicBillingSettingId" type="xs:long" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PublishAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RemainAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="RequestDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ResultCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SalesAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ScheduledPaymentKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffId" type="xs:int" />
      <xs:element minOccurs="0" name="StaffName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxClassId" type="xs:int" />
      <xs:element minOccurs="0" name="TaxDifference" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransferOriginalDueAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitSymbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
      <xs:element minOccurs="0" name="UseDiscount" type="xs:boolean" />
      <xs:element minOccurs="0" name="UseLongTermAdvancedReceived" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Billing" nillable="true" type="tns:Billing" />
  <xs:complexType name="MatchingReceiptSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingDataType" type="xs:int" />
      <xs:element minOccurs="0" name="ClientKey" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="MatchingHeaderId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ParentCustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentAgencyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RecordedAtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RecordedAtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UseCashOnDueDates" type="xs:int" />
      <xs:element minOccurs="0" name="UseReceiptSection" type="xs:int" />
      <xs:element minOccurs="0" name="UseScheduledPayment" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchingReceiptSearch" nillable="true" type="tns:MatchingReceiptSearch" />
  <xs:complexType name="ReceiptsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="Receipts" nillable="true" type="tns:ArrayOfReceipt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptsResult" nillable="true" type="tns:ReceiptsResult" />
  <xs:complexType name="MatchingSource">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdvanceReceivedCustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BankTransferFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingDiscountTotal" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BillingDiscounts" nillable="true" type="q1:ArrayOflong" />
      <xs:element minOccurs="0" name="BillingRemainTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingScheduledIncomes" nillable="true" type="tns:ArrayOfBillingScheduledIncome" />
      <xs:element minOccurs="0" name="Billings" nillable="true" type="tns:ArrayOfBilling" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChildCustomerIds" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="ClientKey" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LoginUserId" type="xs:int" />
      <xs:element minOccurs="0" name="MatchingBillingDiscounts" nillable="true" type="tns:ArrayOfMatchingBillingDiscount" />
      <xs:element minOccurs="0" name="MatchingHeader" nillable="true" type="tns:MatchingHeader" />
      <xs:element minOccurs="0" name="MatchingProcessType" type="xs:int" />
      <xs:element minOccurs="0" name="Matchings" nillable="true" type="tns:ArrayOfMatching" />
      <xs:element minOccurs="0" name="PaymentAgencyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptRemainTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Receipts" nillable="true" type="tns:ArrayOfReceipt" />
      <xs:element minOccurs="0" name="RemainType" type="xs:int" />
      <xs:element minOccurs="0" name="TaxDifference" type="xs:decimal" />
      <xs:element minOccurs="0" name="UseFeeLearning" type="xs:int" />
      <xs:element minOccurs="0" name="UseKanaLearning" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchingSource" nillable="true" type="tns:MatchingSource" />
  <xs:complexType name="ArrayOfBillingScheduledIncome">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillingScheduledIncome" nillable="true" type="tns:BillingScheduledIncome" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillingScheduledIncome" nillable="true" type="tns:ArrayOfBillingScheduledIncome" />
  <xs:complexType name="BillingScheduledIncome">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingId" type="xs:long" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="MatchingId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingScheduledIncome" nillable="true" type="tns:BillingScheduledIncome" />
  <xs:complexType name="ArrayOfMatchingBillingDiscount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchingBillingDiscount" nillable="true" type="tns:MatchingBillingDiscount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchingBillingDiscount" nillable="true" type="tns:ArrayOfMatchingBillingDiscount" />
  <xs:complexType name="MatchingBillingDiscount">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiscountAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountType" type="xs:int" />
      <xs:element minOccurs="0" name="MatchingId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchingBillingDiscount" nillable="true" type="tns:MatchingBillingDiscount" />
  <xs:complexType name="MatchingSourceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchingSource" nillable="true" type="tns:MatchingSource" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchingSourceResult" nillable="true" type="tns:MatchingSourceResult" />
  <xs:complexType name="BillingIndicesResult">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Indices" nillable="true" type="q3:ArrayOfint" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingIndicesResult" nillable="true" type="tns:BillingIndicesResult" />
  <xs:complexType name="MatchingsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingDiscountTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingRemainTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Matchings" nillable="true" type="tns:ArrayOfMatching" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="ReceiptRemainTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="RemainType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchingsResult" nillable="true" type="tns:MatchingsResult" />
  <xs:complexType name="JournalizingOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="ContainAdvanceReceivedMatching" type="xs:boolean" />
      <xs:element minOccurs="0" name="ContainAdvanceReceivedOccured" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreateAtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateAtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrencyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsGeneral" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOutputted" type="xs:boolean" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="JournalizingTypes" nillable="true" type="q4:ArrayOfint" />
      <xs:element minOccurs="0" name="LoginUserId" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OutputAt" nillable="true" type="q5:ArrayOfdateTime" />
      <xs:element minOccurs="0" name="RecordedAtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RecordedAtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UseDiscount" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JournalizingOption" nillable="true" type="tns:JournalizingOption" />
  <xs:complexType name="MatchingJournalizingDetailsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchingJournalizingDetails" nillable="true" type="tns:ArrayOfMatchingJournalizingDetail" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchingJournalizingDetailsResult" nillable="true" type="tns:MatchingJournalizingDetailsResult" />
  <xs:complexType name="ArrayOfMatchingJournalizingDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchingJournalizingDetail" nillable="true" type="tns:MatchingJournalizingDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchingJournalizingDetail" nillable="true" type="tns:ArrayOfMatchingJournalizingDetail" />
  <xs:complexType name="MatchingJournalizingDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BilledAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillingAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupIndex" type="xs:int" />
      <xs:element minOccurs="0" name="HeaderId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JournalizingType" type="xs:int" />
      <xs:element minOccurs="0" name="OutputAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="RecordedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchingJournalizingDetail" nillable="true" type="tns:MatchingJournalizingDetail" />
  <xs:complexType name="MatchingJournalizingProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchingJournalizingProcessResult" nillable="true" type="tns:MatchingJournalizingProcessResult" />
  <xs:complexType name="JournalizingSummariesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="JournalizingsSummaries" nillable="true" type="tns:ArrayOfJournalizingSummary" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JournalizingSummariesResult" nillable="true" type="tns:JournalizingSummariesResult" />
  <xs:complexType name="ArrayOfJournalizingSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JournalizingSummary" nillable="true" type="tns:JournalizingSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJournalizingSummary" nillable="true" type="tns:ArrayOfJournalizingSummary" />
  <xs:complexType name="JournalizingSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutputAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JournalizingSummary" nillable="true" type="tns:JournalizingSummary" />
  <xs:complexType name="MatchingJournalizingsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchingJournalizings" nillable="true" type="tns:ArrayOfMatchingJournalizing" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchingJournalizingsResult" nillable="true" type="tns:MatchingJournalizingsResult" />
  <xs:complexType name="ArrayOfMatchingJournalizing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchingJournalizing" nillable="true" type="tns:MatchingJournalizing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchingJournalizing" nillable="true" type="tns:ArrayOfMatchingJournalizing" />
  <xs:complexType name="MatchingJournalizing">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Approved" type="xs:boolean" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreditAccountTitleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditAccountTitleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditDepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditDepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditSubCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditSubName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebitAccountTitleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebitAccountTitleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebitDepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebitDepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebitSubCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebitSubName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="InvoiceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchingMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SlipNumber" type="xs:long" />
      <xs:element minOccurs="0" name="SourceBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceBranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxClassId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchingJournalizing" nillable="true" type="tns:MatchingJournalizing" />
  <xs:complexType name="GeneralJournalizingsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="GeneralJournalizings" nillable="true" type="tns:ArrayOfGeneralJournalizing" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralJournalizingsResult" nillable="true" type="tns:GeneralJournalizingsResult" />
  <xs:complexType name="ArrayOfGeneralJournalizing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeneralJournalizing" nillable="true" type="tns:GeneralJournalizing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeneralJournalizing" nillable="true" type="tns:ArrayOfGeneralJournalizing" />
  <xs:complexType name="GeneralJournalizing">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdvanceReceivedBackupId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="AdvanceReceivedCustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AdvanceReceivedParentCustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Approved" type="xs:boolean" />
      <xs:element minOccurs="0" name="BillingCustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillingDepartmentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillingDepartmentStaffId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillingId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="BillingParentCustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillingStaffDepartmentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillingStaffId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="JournalizingType" type="xs:int" />
      <xs:element minOccurs="0" name="MatchingId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Precision" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptCustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptExcludeId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ReceiptId" type="xs:long" />
      <xs:element minOccurs="0" name="ReceiptParentCustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ScheduledIncomeBillingId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ScheduledIncomeMatchingHeaderId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ScheduledIncomeReceiptId" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralJournalizing" nillable="true" type="tns:GeneralJournalizing" />
  <xs:complexType name="MatchedReceiptsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchedReceipts" nillable="true" type="tns:ArrayOfMatchedReceipt" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchedReceiptsResult" nillable="true" type="tns:MatchedReceiptsResult" />
  <xs:complexType name="ArrayOfMatchedReceipt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchedReceipt" nillable="true" type="tns:MatchedReceipt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchedReceipt" nillable="true" type="tns:ArrayOfMatchedReceipt" />
  <xs:complexType name="MatchedReceipt">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillBankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillBranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillDrawAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillDrawer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BilledAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillingMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingNote1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingNote2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingNote3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingNote4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="InvoiceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JournalizingCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchingMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalReceiptId" type="xs:long" />
      <xs:element minOccurs="0" name="ReceiptAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceiptCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptCategoryExternalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptNote1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptNote2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptNote3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptNote4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SectionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SlipNumber" type="xs:long" />
      <xs:element minOccurs="0" name="SourceBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceBranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VirtualAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VirtualBranchCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchedReceipt" nillable="true" type="tns:MatchedReceipt" />
  <xs:complexType name="CountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountResult" nillable="true" type="tns:CountResult" />
</xs:schema>