src/Rac.VOne.Client.Screen/Service References/MatchingHistoryService/MatchingHistoryService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MatchingHistorySearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingAmountFrom" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingAmountTo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateAtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCodeFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCodeTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentCodeFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentCodeTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExistsMemo" type="xs:boolean" />
      <xs:element minOccurs="0" name="InputAtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InputAtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoginUserFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginUserId" type="xs:int" />
      <xs:element minOccurs="0" name="LoginUserTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchingProcessType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnlyNonOutput" type="xs:boolean" />
      <xs:element minOccurs="0" name="OutputOrder" type="xs:int" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptAmountFrom" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceiptAmountTo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceiptIdFrom" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ReceiptIdTo" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="RecordedAtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RecordedAtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SectionCodeFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectionCodeTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseSectionMaster" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchingHistorySearch" nillable="true" type="tns:MatchingHistorySearch" />
  <xs:complexType name="MatchingHistorysResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchingHistorys" nillable="true" type="tns:ArrayOfMatchingHistory" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchingHistorysResult" nillable="true" type="tns:MatchingHistorysResult" />
  <xs:complexType name="ArrayOfMatchingHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchingHistory" nillable="true" type="tns:MatchingHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchingHistory" nillable="true" type="tns:ArrayOfMatchingHistory" />
  <xs:complexType name="MatchingHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdvanceReceivedOccured" type="xs:boolean" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankTransferFee" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BilledAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillingAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingAmountExcludingTax" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingId" type="xs:long" />
      <xs:element minOccurs="0" name="BillingNote1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingNote2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingNote3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingNote4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingRemain" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollectCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollectCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginUserCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchingAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MatchingHeaderId" type="xs:long" />
      <xs:element minOccurs="0" name="MatchingId" type="xs:long" />
      <xs:element minOccurs="0" name="MatchingMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchingProcessType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceiptCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptId" type="xs:long" />
      <xs:element minOccurs="0" name="ReceiptNote1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptNote2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptNote3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptNote4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptRemain" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RecordedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SalesAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SectionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxDifference" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchingHistory" nillable="true" type="tns:MatchingHistory" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="MatchingHistoryResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchingHistory" nillable="true" type="tns:MatchingHistory" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchingHistoryResult" nillable="true" type="tns:MatchingHistoryResult" />
</xs:schema>