src/Rac.VOne.Client.Screen/Service References/InputControlMasterService/InputControlMaster2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InputControlsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputControls" nillable="true" type="tns:ArrayOfInputControl" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputControlsResult" nillable="true" type="tns:InputControlsResult" />
  <xs:complexType name="ArrayOfInputControl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InputControl" nillable="true" type="tns:InputControl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInputControl" nillable="true" type="tns:ArrayOfInputControl" />
  <xs:complexType name="InputControl">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColumnNameJp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColumnOrder" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="InputGridTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="LoginUserId" type="xs:int" />
      <xs:element minOccurs="0" name="TabIndex" type="xs:int" />
      <xs:element minOccurs="0" name="TabStop" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputControl" nillable="true" type="tns:InputControl" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
</xs:schema>