src/Rac.VOne.Client.Screen/Service References/PaymentAgencyMasterService/PaymentAgencyMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaymentAgencyMaster" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/Master/PaymentAgencyMaster.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/PaymentAgencyMaster.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/PaymentAgencyMaster.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
      <xsd:import schemaLocation="http://localhost:3061/Master/PaymentAgencyMaster.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaymentAgencyMaster_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="IPaymentAgencyMaster_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentAgencyMaster_GetByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByCode" />
  </wsdl:message>
  <wsdl:message name="IPaymentAgencyMaster_GetByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentAgencyMaster_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IPaymentAgencyMaster_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentAgencyMaster_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IPaymentAgencyMaster_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentAgencyMaster_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IPaymentAgencyMaster_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentAgencyMaster_GetFormatItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFormatItems" />
  </wsdl:message>
  <wsdl:message name="IPaymentAgencyMaster_GetFormatItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFormatItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaymentAgencyMaster">
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentAgencyMaster/GetItems" message="tns:IPaymentAgencyMaster_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentAgencyMaster/GetItemsResponse" message="tns:IPaymentAgencyMaster_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentAgencyMaster/GetByCode" message="tns:IPaymentAgencyMaster_GetByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentAgencyMaster/GetByCodeResponse" message="tns:IPaymentAgencyMaster_GetByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentAgencyMaster/Save" message="tns:IPaymentAgencyMaster_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentAgencyMaster/SaveResponse" message="tns:IPaymentAgencyMaster_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentAgencyMaster/Delete" message="tns:IPaymentAgencyMaster_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentAgencyMaster/DeleteResponse" message="tns:IPaymentAgencyMaster_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentAgencyMaster/Get" message="tns:IPaymentAgencyMaster_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentAgencyMaster/GetResponse" message="tns:IPaymentAgencyMaster_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFormatItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentAgencyMaster/GetFormatItems" message="tns:IPaymentAgencyMaster_GetFormatItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentAgencyMaster/GetFormatItemsResponse" message="tns:IPaymentAgencyMaster_GetFormatItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaymentAgencyMaster" type="tns:IPaymentAgencyMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/IPaymentAgencyMaster/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByCode">
      <soap:operation soapAction="http://tempuri.org/IPaymentAgencyMaster/GetByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IPaymentAgencyMaster/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IPaymentAgencyMaster/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IPaymentAgencyMaster/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFormatItems">
      <soap:operation soapAction="http://tempuri.org/IPaymentAgencyMaster/GetFormatItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentAgencyMaster">
    <wsdl:port name="BasicHttpBinding_IPaymentAgencyMaster" binding="tns:BasicHttpBinding_IPaymentAgencyMaster">
      <soap:address location="http://localhost:3061/Master/PaymentAgencyMaster.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>