src/Rac.VOne.Client.Screen/Service References/ImporterSettingService/ImporterSettingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImporterSettingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/ImporterSettingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/ImporterSettingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/ImporterSettingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImporterSettingService_GetHeader_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHeader" />
  </wsdl:message>
  <wsdl:message name="IImporterSettingService_GetHeader_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHeaderResponse" />
  </wsdl:message>
  <wsdl:message name="IImporterSettingService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IImporterSettingService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IImporterSettingService_GetHeaderByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHeaderByCode" />
  </wsdl:message>
  <wsdl:message name="IImporterSettingService_GetHeaderByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHeaderByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IImporterSettingService_GetDetailByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailByCode" />
  </wsdl:message>
  <wsdl:message name="IImporterSettingService_GetDetailByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IImporterSettingService_GetDetailById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailById" />
  </wsdl:message>
  <wsdl:message name="IImporterSettingService_GetDetailById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IImporterSettingService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IImporterSettingService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IImporterSettingService">
    <wsdl:operation name="GetHeader">
      <wsdl:input wsaw:Action="http://tempuri.org/IImporterSettingService/GetHeader" message="tns:IImporterSettingService_GetHeader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImporterSettingService/GetHeaderResponse" message="tns:IImporterSettingService_GetHeader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IImporterSettingService/Save" message="tns:IImporterSettingService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImporterSettingService/SaveResponse" message="tns:IImporterSettingService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHeaderByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IImporterSettingService/GetHeaderByCode" message="tns:IImporterSettingService_GetHeaderByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImporterSettingService/GetHeaderByCodeResponse" message="tns:IImporterSettingService_GetHeaderByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IImporterSettingService/GetDetailByCode" message="tns:IImporterSettingService_GetDetailByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImporterSettingService/GetDetailByCodeResponse" message="tns:IImporterSettingService_GetDetailByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailById">
      <wsdl:input wsaw:Action="http://tempuri.org/IImporterSettingService/GetDetailById" message="tns:IImporterSettingService_GetDetailById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImporterSettingService/GetDetailByIdResponse" message="tns:IImporterSettingService_GetDetailById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IImporterSettingService/Delete" message="tns:IImporterSettingService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImporterSettingService/DeleteResponse" message="tns:IImporterSettingService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImporterSettingService" type="tns:IImporterSettingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHeader">
      <soap:operation soapAction="http://tempuri.org/IImporterSettingService/GetHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IImporterSettingService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHeaderByCode">
      <soap:operation soapAction="http://tempuri.org/IImporterSettingService/GetHeaderByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailByCode">
      <soap:operation soapAction="http://tempuri.org/IImporterSettingService/GetDetailByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailById">
      <soap:operation soapAction="http://tempuri.org/IImporterSettingService/GetDetailById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IImporterSettingService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImporterSettingService">
    <wsdl:port name="BasicHttpBinding_IImporterSettingService" binding="tns:BasicHttpBinding_IImporterSettingService">
      <soap:address location="http://localhost:3061/ImporterSettingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>