src/Rac.VOne.Client.Screen/Service References/ReminderSettingService/ReminderSettingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3061/ReminderSettingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
  <xs:element name="GetReminderCommonSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderCommonSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetReminderCommonSettingResult" nillable="true" type="q1:ReminderCommonSettingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReminderCommonSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ReminderCommonSetting" nillable="true" type="q2:ReminderCommonSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReminderCommonSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SaveReminderCommonSettingResult" nillable="true" type="q3:ReminderCommonSettingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderTemplateSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderTemplateSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetReminderTemplateSettingsResult" nillable="true" type="q4:ReminderTemplateSettingsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderTemplateSettingByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderTemplateSettingByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetReminderTemplateSettingByCodeResult" nillable="true" type="q5:ReminderTemplateSettingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReminderTemplateSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ReminderTemplateSetting" nillable="true" type="q6:ReminderTemplateSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReminderTemplateSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SaveReminderTemplateSettingResult" nillable="true" type="q7:ReminderTemplateSettingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReminderTemplateSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReminderTemplateSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="DeleteReminderTemplateSettingResult" nillable="true" type="q8:CountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistReminderTemplateSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReminderTemplateId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistReminderTemplateSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ExistReminderTemplateSettingResult" nillable="true" type="q9:ExistResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderLevelSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderLevelSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetReminderLevelSettingsResult" nillable="true" type="q10:ReminderLevelSettingsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderLevelSettingByLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="ReminderLevel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderLevelSettingByLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetReminderLevelSettingByLevelResult" nillable="true" type="q11:ReminderLevelSettingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistTemplateAtReminderLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReminderTemplateId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistTemplateAtReminderLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ExistTemplateAtReminderLevelResult" nillable="true" type="q12:ExistResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxReminderLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxReminderLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetMaxReminderLevelResult" nillable="true" type="q13:MaxReminderLevelResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReminderLevelSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ReminderLevelSetting" nillable="true" type="q14:ReminderLevelSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReminderLevelSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SaveReminderLevelSettingResult" nillable="true" type="q15:ReminderLevelSettingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReminderLevelSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="ReminderLevel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReminderLevelSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="DeleteReminderLevelSettingResult" nillable="true" type="q16:CountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderSummarySettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderSummarySettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetReminderSummarySettingsResult" nillable="true" type="q17:ReminderSummarySettingsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReminderSummarySetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ReminderSummarySettings" nillable="true" type="q18:ArrayOfReminderSummarySetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReminderSummarySettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SaveReminderSummarySettingResult" nillable="true" type="q19:ReminderSummarySettingsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>