src/Rac.VOne.Client.Screen/Service References/ImportSettingMasterService/ImportSettingMaster2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ImportSettingResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImportSetting" nillable="true" type="tns:ImportSetting" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportSettingResult" nillable="true" type="tns:ImportSettingResult" />
  <xs:complexType name="ImportSetting">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="Confirm" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorLogDestination" type="xs:int" />
      <xs:element minOccurs="0" name="ExportErrorLog" type="xs:int" />
      <xs:element minOccurs="0" name="ImportFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImportFileType" type="xs:int" />
      <xs:element minOccurs="0" name="ImportMode" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportSetting" nillable="true" type="tns:ImportSetting" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="ImportSettingResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImportSettings" nillable="true" type="tns:ArrayOfImportSetting" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportSettingResults" nillable="true" type="tns:ImportSettingResults" />
  <xs:complexType name="ArrayOfImportSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImportSetting" nillable="true" type="tns:ImportSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImportSetting" nillable="true" type="tns:ArrayOfImportSetting" />
</xs:schema>