src/Rac.VOne.Client.Screen/Service References/EBFileSettingMasterService/EBFileSettingMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EBFileSettingMaster" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60157/Master/EBFileSettingMaster.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60157/Master/EBFileSettingMaster.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60157/Master/EBFileSettingMaster.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
      <xsd:import schemaLocation="http://localhost:60157/Master/EBFileSettingMaster.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEBFileSettingMaster_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="IEBFileSettingMaster_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IEBFileSettingMaster_GetItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItem" />
  </wsdl:message>
  <wsdl:message name="IEBFileSettingMaster_GetItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemResponse" />
  </wsdl:message>
  <wsdl:message name="IEBFileSettingMaster_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IEBFileSettingMaster_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IEBFileSettingMaster_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IEBFileSettingMaster_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IEBFileSettingMaster_UpdateIsUseable_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIsUseable" />
  </wsdl:message>
  <wsdl:message name="IEBFileSettingMaster_UpdateIsUseable_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIsUseableResponse" />
  </wsdl:message>
  <wsdl:portType name="IEBFileSettingMaster">
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IEBFileSettingMaster/GetItems" message="tns:IEBFileSettingMaster_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEBFileSettingMaster/GetItemsResponse" message="tns:IEBFileSettingMaster_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IEBFileSettingMaster/GetItem" message="tns:IEBFileSettingMaster_GetItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEBFileSettingMaster/GetItemResponse" message="tns:IEBFileSettingMaster_GetItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IEBFileSettingMaster/Save" message="tns:IEBFileSettingMaster_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEBFileSettingMaster/SaveResponse" message="tns:IEBFileSettingMaster_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IEBFileSettingMaster/Delete" message="tns:IEBFileSettingMaster_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEBFileSettingMaster/DeleteResponse" message="tns:IEBFileSettingMaster_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIsUseable">
      <wsdl:input wsaw:Action="http://tempuri.org/IEBFileSettingMaster/UpdateIsUseable" message="tns:IEBFileSettingMaster_UpdateIsUseable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEBFileSettingMaster/UpdateIsUseableResponse" message="tns:IEBFileSettingMaster_UpdateIsUseable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEBFileSettingMaster" type="tns:IEBFileSettingMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/IEBFileSettingMaster/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <soap:operation soapAction="http://tempuri.org/IEBFileSettingMaster/GetItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IEBFileSettingMaster/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IEBFileSettingMaster/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIsUseable">
      <soap:operation soapAction="http://tempuri.org/IEBFileSettingMaster/UpdateIsUseable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EBFileSettingMaster">
    <wsdl:port name="BasicHttpBinding_IEBFileSettingMaster" binding="tns:BasicHttpBinding_IEBFileSettingMaster">
      <soap:address location="http://localhost:60157/Master/EBFileSettingMaster.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>