src/Rac.VOne.Client.Screen/Service References/EBFileSettingMasterService/EBFileSettingMaster3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EBFileSettingsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="EBFileSettings" nillable="true" type="tns:ArrayOfEBFileSetting" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EBFileSettingsResult" nillable="true" type="tns:EBFileSettingsResult" />
  <xs:complexType name="ArrayOfEBFileSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EBFileSetting" nillable="true" type="tns:EBFileSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEBFileSetting" nillable="true" type="tns:ArrayOfEBFileSetting" />
  <xs:complexType name="EBFileSetting">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
      <xs:element minOccurs="0" name="EBFormatId" type="xs:int" />
      <xs:element minOccurs="0" name="FileFieldType" type="xs:int" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImportableValues" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsUseable" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequireYear" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
      <xs:element minOccurs="0" name="UseValueDate" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EBFileSetting" nillable="true" type="tns:EBFileSetting" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="EBFileSettingResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="EBFileSetting" nillable="true" type="tns:EBFileSetting" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EBFileSettingResult" nillable="true" type="tns:EBFileSettingResult" />
  <xs:complexType name="CountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountResult" nillable="true" type="tns:CountResult" />
</xs:schema>