src/Rac.VOne.Client.Screen/Service References/AccountTitleMasterService/AccountTitleMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountTitleMaster" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/Master/AccountTitleMaster.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/AccountTitleMaster.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/AccountTitleMaster.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:3061/Master/AccountTitleMaster.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountTitleMaster_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_GetByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByCode" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_GetByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_Import_InputMessage">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_Import_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_GetImportItemsForCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsForCategory" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_GetImportItemsForCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsForCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_GetImportItemsForCustomerDiscount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsForCustomerDiscount" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_GetImportItemsForCustomerDiscount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsForCustomerDiscountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_GetImportItemsForDebitBilling_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsForDebitBilling" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_GetImportItemsForDebitBilling_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsForDebitBillingResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_GetImportItemsForCreditBilling_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsForCreditBilling" />
  </wsdl:message>
  <wsdl:message name="IAccountTitleMaster_GetImportItemsForCreditBilling_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsForCreditBillingResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountTitleMaster">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountTitleMaster/Get" message="tns:IAccountTitleMaster_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountTitleMaster/GetResponse" message="tns:IAccountTitleMaster_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountTitleMaster/GetItems" message="tns:IAccountTitleMaster_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountTitleMaster/GetItemsResponse" message="tns:IAccountTitleMaster_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountTitleMaster/GetByCode" message="tns:IAccountTitleMaster_GetByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountTitleMaster/GetByCodeResponse" message="tns:IAccountTitleMaster_GetByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountTitleMaster/Save" message="tns:IAccountTitleMaster_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountTitleMaster/SaveResponse" message="tns:IAccountTitleMaster_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountTitleMaster/Delete" message="tns:IAccountTitleMaster_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountTitleMaster/DeleteResponse" message="tns:IAccountTitleMaster_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Import">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountTitleMaster/Import" message="tns:IAccountTitleMaster_Import_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountTitleMaster/ImportResponse" message="tns:IAccountTitleMaster_Import_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsForCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountTitleMaster/GetImportItemsForCategory" message="tns:IAccountTitleMaster_GetImportItemsForCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountTitleMaster/GetImportItemsForCategoryResponse" message="tns:IAccountTitleMaster_GetImportItemsForCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsForCustomerDiscount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountTitleMaster/GetImportItemsForCustomerDiscount" message="tns:IAccountTitleMaster_GetImportItemsForCustomerDiscount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountTitleMaster/GetImportItemsForCustomerDiscountResponse" message="tns:IAccountTitleMaster_GetImportItemsForCustomerDiscount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsForDebitBilling">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountTitleMaster/GetImportItemsForDebitBilling" message="tns:IAccountTitleMaster_GetImportItemsForDebitBilling_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountTitleMaster/GetImportItemsForDebitBillingResponse" message="tns:IAccountTitleMaster_GetImportItemsForDebitBilling_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsForCreditBilling">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountTitleMaster/GetImportItemsForCreditBilling" message="tns:IAccountTitleMaster_GetImportItemsForCreditBilling_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountTitleMaster/GetImportItemsForCreditBillingResponse" message="tns:IAccountTitleMaster_GetImportItemsForCreditBilling_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountTitleMaster" type="tns:IAccountTitleMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IAccountTitleMaster/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/IAccountTitleMaster/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByCode">
      <soap:operation soapAction="http://tempuri.org/IAccountTitleMaster/GetByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IAccountTitleMaster/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IAccountTitleMaster/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <soap:operation soapAction="http://tempuri.org/IAccountTitleMaster/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsForCategory">
      <soap:operation soapAction="http://tempuri.org/IAccountTitleMaster/GetImportItemsForCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsForCustomerDiscount">
      <soap:operation soapAction="http://tempuri.org/IAccountTitleMaster/GetImportItemsForCustomerDiscount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsForDebitBilling">
      <soap:operation soapAction="http://tempuri.org/IAccountTitleMaster/GetImportItemsForDebitBilling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsForCreditBilling">
      <soap:operation soapAction="http://tempuri.org/IAccountTitleMaster/GetImportItemsForCreditBilling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountTitleMaster">
    <wsdl:port name="BasicHttpBinding_IAccountTitleMaster" binding="tns:BasicHttpBinding_IAccountTitleMaster">
      <soap:address location="http://localhost:3061/Master/AccountTitleMaster.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>