src/Rac.VOne.Client.Screen/Service References/CustomerLedgerService/CustomerLedgerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerLedgerSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingSlipType" type="xs:int" />
      <xs:element minOccurs="0" name="ClosingDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerCodeFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCodeTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayDepartment" type="xs:boolean" />
      <xs:element minOccurs="0" name="DisplayMatchingSymbol" type="xs:boolean" />
      <xs:element minOccurs="0" name="DisplaySection" type="xs:boolean" />
      <xs:element minOccurs="0" name="DoGroupReceipt" type="xs:boolean" />
      <xs:element minOccurs="0" name="GroupBillingType" type="xs:int" />
      <xs:element minOccurs="0" name="IsPrint" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemainType" type="xs:int" />
      <xs:element minOccurs="0" name="RequireMonthlyBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="UseBilledAt" type="xs:boolean" />
      <xs:element minOccurs="0" name="YearMonthFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="YearMonthTo" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerLedgerSearch" nillable="true" type="tns:CustomerLedgerSearch" />
  <xs:complexType name="CustomerLedgersResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerLedgers" nillable="true" type="tns:ArrayOfCustomerLedger" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerLedgersResult" nillable="true" type="tns:CustomerLedgersResult" />
  <xs:complexType name="ArrayOfCustomerLedger">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerLedger" nillable="true" type="tns:CustomerLedger" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerLedger" nillable="true" type="tns:ArrayOfCustomerLedger" />
  <xs:complexType name="CustomerLedger">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountTitleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingInputId" type="xs:long" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataType" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeaderId1" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="HeaderId2" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="HeaderId3" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="HeaderId4" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="HeaderId5" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="HeaderId6" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="HeaderId7" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvoiceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchingAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MatchingSymbolBilling" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchingSymbolReceipt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentCustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentCustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="ParentCustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RecordType" type="xs:int" />
      <xs:element minOccurs="0" name="RecordTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RemainAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SectionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SlipTotal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="YearMonth" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerLedger" nillable="true" type="tns:CustomerLedger" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
</xs:schema>