src/Rac.VOne.Client.Screen/Service References/PasswordPolicyMasterService/PasswordPolicyMaster1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PasswordPolicyResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="PasswordPolicy" nillable="true" type="tns:PasswordPolicy" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordPolicyResult" nillable="true" type="tns:PasswordPolicyResult" />
  <xs:complexType name="PasswordPolicy">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseSensitive" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="ExpirationDays" type="xs:int" />
      <xs:element minOccurs="0" name="HistoryCount" type="xs:int" />
      <xs:element minOccurs="0" name="MaxLength" type="xs:int" />
      <xs:element minOccurs="0" name="MinAlphabetUseCount" type="xs:int" />
      <xs:element minOccurs="0" name="MinLength" type="xs:int" />
      <xs:element minOccurs="0" name="MinNumberUseCount" type="xs:int" />
      <xs:element minOccurs="0" name="MinSameCharacterRepeat" type="xs:int" />
      <xs:element minOccurs="0" name="MinSymbolUseCount" type="xs:int" />
      <xs:element minOccurs="0" name="SymbolType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseAlphabet" type="xs:int" />
      <xs:element minOccurs="0" name="UseNumber" type="xs:int" />
      <xs:element minOccurs="0" name="UseSymbol" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordPolicy" nillable="true" type="tns:PasswordPolicy" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
</xs:schema>