src/Rac.VOne.Client.Screen/Service References/KanaHistoryPaymentAgencyMasterService/KanaHistoryPaymentAgencyMaster2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="KanaHistoryPaymentAgencysResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="KanaHistoryPaymentAgencys" nillable="true" type="tns:ArrayOfKanaHistoryPaymentAgency" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KanaHistoryPaymentAgencysResult" nillable="true" type="tns:KanaHistoryPaymentAgencysResult" />
  <xs:complexType name="ArrayOfKanaHistoryPaymentAgency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KanaHistoryPaymentAgency" nillable="true" type="tns:KanaHistoryPaymentAgency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKanaHistoryPaymentAgency" nillable="true" type="tns:ArrayOfKanaHistoryPaymentAgency" />
  <xs:complexType name="KanaHistoryPaymentAgency">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="HitCount" type="xs:int" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentAgencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentAgencyId" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentAgencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceBranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KanaHistoryPaymentAgency" nillable="true" type="tns:KanaHistoryPaymentAgency" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="CountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountResult" nillable="true" type="tns:CountResult" />
  <xs:complexType name="ImportResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeleteCount" type="xs:int" />
      <xs:element minOccurs="0" name="InsertCount" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="UpdateCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportResult" nillable="true" type="tns:ImportResult" />
</xs:schema>