src/Rac.VOne.Client.Screen/Service References/BillingBalanceService/BillingBalanceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BillingBalanceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastCarryOverAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingBalanceResult" nillable="true" type="tns:BillingBalanceResult" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="BillingBalancesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingBalances" nillable="true" type="tns:ArrayOfBillingBalance" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingBalancesResult" nillable="true" type="tns:BillingBalancesResult" />
  <xs:complexType name="ArrayOfBillingBalance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillingBalance" nillable="true" type="tns:BillingBalance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillingBalance" nillable="true" type="tns:ArrayOfBillingBalance" />
  <xs:complexType name="BillingBalance">
    <xs:sequence>
      <xs:element minOccurs="0" name="BalanceCarriedOver" type="xs:decimal" />
      <xs:element minOccurs="0" name="CarryOverAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="StaffId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingBalance" nillable="true" type="tns:BillingBalance" />
  <xs:complexType name="CountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountResult" nillable="true" type="tns:CountResult" />
</xs:schema>