src/Rac.VOne.Client.Common/Service References/LogsService/LogsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14379/LogsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
  <xs:element name="SaveErrorLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="log" nillable="true" type="q1:Logs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveErrorLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveErrorLogResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>