src/Rac.VOne.Client.Screen/Service References/LoginUserPasswordMasterService/LoginUserPasswordMaster2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginPasswordChangeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="Result" type="tns:PasswordChangeResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginPasswordChangeResult" nillable="true" type="tns:LoginPasswordChangeResult" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:simpleType name="PasswordChangeResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DBError" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="Failed" />
      <xs:enumeration value="ProhibitionSamePassword" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PasswordChangeResult" nillable="true" type="tns:PasswordChangeResult" />
  <xs:complexType name="LoginProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="Result" type="tns:LoginResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginProcessResult" nillable="true" type="tns:LoginProcessResult" />
  <xs:simpleType name="LoginResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DBError" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="Failed" />
      <xs:enumeration value="Expired" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoginResult" nillable="true" type="tns:LoginResult" />
</xs:schema>