src/Rac.VOne.Client.Screen/Service References/GeneralSettingMasterService/GeneralSettingMaster1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GeneralSettingsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="GeneralSettings" nillable="true" type="tns:ArrayOfGeneralSetting" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralSettingsResult" nillable="true" type="tns:GeneralSettingsResult" />
  <xs:complexType name="ArrayOfGeneralSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeneralSetting" nillable="true" type="tns:GeneralSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeneralSetting" nillable="true" type="tns:ArrayOfGeneralSetting" />
  <xs:complexType name="GeneralSetting">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="Precision" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralSetting" nillable="true" type="tns:GeneralSetting" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="GeneralSettingResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="GeneralSetting" nillable="true" type="tns:GeneralSetting" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralSettingResult" nillable="true" type="tns:GeneralSettingResult" />
</xs:schema>