src/Rac.VOne.Client.Screen/Service References/JuridicalPersonalityMasterService/JuridicalPersonalityMaster1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JuridicalPersonality">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="Kana" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JuridicalPersonality" nillable="true" type="tns:JuridicalPersonality" />
  <xs:complexType name="JuridicalPersonalityResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="JuridicalPersonality" nillable="true" type="tns:JuridicalPersonality" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JuridicalPersonalityResult" nillable="true" type="tns:JuridicalPersonalityResult" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="CountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountResult" nillable="true" type="tns:CountResult" />
  <xs:complexType name="JuridicalPersonalitysResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="JuridicalPersonalities" nillable="true" type="tns:ArrayOfJuridicalPersonality" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JuridicalPersonalitysResult" nillable="true" type="tns:JuridicalPersonalitysResult" />
  <xs:complexType name="ArrayOfJuridicalPersonality">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JuridicalPersonality" nillable="true" type="tns:JuridicalPersonality" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJuridicalPersonality" nillable="true" type="tns:ArrayOfJuridicalPersonality" />
  <xs:complexType name="ImportResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeleteCount" type="xs:int" />
      <xs:element minOccurs="0" name="InsertCount" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="UpdateCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportResult" nillable="true" type="tns:ImportResult" />
</xs:schema>