src/Rac.VOne.EbData/Service References/BankAccountMasterService/BankAccountMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankAccountMaster" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/Master/BankAccountMaster.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/BankAccountMaster.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/BankAccountMaster.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:3061/Master/BankAccountMaster.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankAccountMaster_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IBankAccountMaster_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAccountMaster_GetByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByCode" />
  </wsdl:message>
  <wsdl:message name="IBankAccountMaster_GetByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAccountMaster_GetByBranchName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByBranchName" />
  </wsdl:message>
  <wsdl:message name="IBankAccountMaster_GetByBranchName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByBranchNameResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAccountMaster_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="IBankAccountMaster_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAccountMaster_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IBankAccountMaster_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAccountMaster_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IBankAccountMaster_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAccountMaster_ExistCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistCategory" />
  </wsdl:message>
  <wsdl:message name="IBankAccountMaster_ExistCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAccountMaster_ExistSection_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistSection" />
  </wsdl:message>
  <wsdl:message name="IBankAccountMaster_ExistSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistSectionResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAccountMaster_Import_InputMessage">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="IBankAccountMaster_Import_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankAccountMaster">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountMaster/Get" message="tns:IBankAccountMaster_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountMaster/GetResponse" message="tns:IBankAccountMaster_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountMaster/GetByCode" message="tns:IBankAccountMaster_GetByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountMaster/GetByCodeResponse" message="tns:IBankAccountMaster_GetByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByBranchName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountMaster/GetByBranchName" message="tns:IBankAccountMaster_GetByBranchName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountMaster/GetByBranchNameResponse" message="tns:IBankAccountMaster_GetByBranchName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountMaster/GetItems" message="tns:IBankAccountMaster_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountMaster/GetItemsResponse" message="tns:IBankAccountMaster_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountMaster/Save" message="tns:IBankAccountMaster_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountMaster/SaveResponse" message="tns:IBankAccountMaster_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountMaster/Delete" message="tns:IBankAccountMaster_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountMaster/DeleteResponse" message="tns:IBankAccountMaster_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountMaster/ExistCategory" message="tns:IBankAccountMaster_ExistCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountMaster/ExistCategoryResponse" message="tns:IBankAccountMaster_ExistCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistSection">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountMaster/ExistSection" message="tns:IBankAccountMaster_ExistSection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountMaster/ExistSectionResponse" message="tns:IBankAccountMaster_ExistSection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Import">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAccountMaster/Import" message="tns:IBankAccountMaster_Import_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAccountMaster/ImportResponse" message="tns:IBankAccountMaster_Import_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBankAccountMaster" type="tns:IBankAccountMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IBankAccountMaster/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByCode">
      <soap:operation soapAction="http://tempuri.org/IBankAccountMaster/GetByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByBranchName">
      <soap:operation soapAction="http://tempuri.org/IBankAccountMaster/GetByBranchName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/IBankAccountMaster/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IBankAccountMaster/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IBankAccountMaster/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistCategory">
      <soap:operation soapAction="http://tempuri.org/IBankAccountMaster/ExistCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistSection">
      <soap:operation soapAction="http://tempuri.org/IBankAccountMaster/ExistSection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <soap:operation soapAction="http://tempuri.org/IBankAccountMaster/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankAccountMaster">
    <wsdl:port name="BasicHttpBinding_IBankAccountMaster" binding="tns:BasicHttpBinding_IBankAccountMaster">
      <soap:address location="http://localhost:3061/Master/BankAccountMaster.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>