src/Rac.VOne.EbData/Service References/BankAccountMasterService/BankAccountMaster3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3061/Master/BankAccountMaster.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="BankAccountsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankAccounts" nillable="true" type="tns:ArrayOfBankAccount" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccountsResult" nillable="true" type="tns:BankAccountsResult" />
  <xs:complexType name="ArrayOfBankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankAccount" nillable="true" type="tns:BankAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankAccount" nillable="true" type="tns:ArrayOfBankAccount" />
  <xs:complexType name="BankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="AccountTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImportSkipping" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SectionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccount" nillable="true" type="tns:BankAccount" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="BankAccountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankAccount" nillable="true" type="tns:BankAccount" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccountResult" nillable="true" type="tns:BankAccountResult" />
  <xs:complexType name="BankAccountSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTypeId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BankCodes" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BranchCodes" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="ImportSkipping" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SectionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UseCommonSearch" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccountSearch" nillable="true" type="tns:BankAccountSearch" />
  <xs:complexType name="CountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountResult" nillable="true" type="tns:CountResult" />
  <xs:complexType name="ExistResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exist" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExistResult" nillable="true" type="tns:ExistResult" />
  <xs:complexType name="ImportResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeleteCount" type="xs:int" />
      <xs:element minOccurs="0" name="InsertCount" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="UpdateCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportResult" nillable="true" type="tns:ImportResult" />
</xs:schema>