src/Rac.VOne.Client.Screen/Service References/ExportFieldSettingMasterService/ExportFieldSettingMaster1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExportFieldSettingsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExportFieldSettings" nillable="true" type="tns:ArrayOfExportFieldSetting" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExportFieldSettingsResult" nillable="true" type="tns:ExportFieldSettingsResult" />
  <xs:complexType name="ArrayOfExportFieldSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExportFieldSetting" nillable="true" type="tns:ExportFieldSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExportFieldSetting" nillable="true" type="tns:ArrayOfExportFieldSetting" />
  <xs:complexType name="ExportFieldSetting">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowExport" type="xs:int" />
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColumnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColumnOrder" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="DataFormat" type="xs:int" />
      <xs:element minOccurs="0" name="DataType" type="xs:int" />
      <xs:element minOccurs="0" name="ExportFileType" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExportFieldSetting" nillable="true" type="tns:ExportFieldSetting" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
</xs:schema>