src/Rac.VOne.Client.Screen/Service References/ReceiptExcludeService/ReceiptExcludeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReceiptExcludeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/ReceiptExcludeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/ReceiptExcludeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/ReceiptExcludeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
      <xsd:import schemaLocation="http://localhost:3061/ReceiptExcludeService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReceiptExcludeService_ExistExcludeCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistExcludeCategory" />
  </wsdl:message>
  <wsdl:message name="IReceiptExcludeService_ExistExcludeCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistExcludeCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IReceiptExcludeService_GetByReceiptId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByReceiptId" />
  </wsdl:message>
  <wsdl:message name="IReceiptExcludeService_GetByReceiptId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByReceiptIdResponse" />
  </wsdl:message>
  <wsdl:message name="IReceiptExcludeService_GetByIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByIds" />
  </wsdl:message>
  <wsdl:message name="IReceiptExcludeService_GetByIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdsResponse" />
  </wsdl:message>
  <wsdl:portType name="IReceiptExcludeService">
    <wsdl:operation name="ExistExcludeCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IReceiptExcludeService/ExistExcludeCategory" message="tns:IReceiptExcludeService_ExistExcludeCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReceiptExcludeService/ExistExcludeCategoryResponse" message="tns:IReceiptExcludeService_ExistExcludeCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByReceiptId">
      <wsdl:input wsaw:Action="http://tempuri.org/IReceiptExcludeService/GetByReceiptId" message="tns:IReceiptExcludeService_GetByReceiptId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReceiptExcludeService/GetByReceiptIdResponse" message="tns:IReceiptExcludeService_GetByReceiptId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IReceiptExcludeService/GetByIds" message="tns:IReceiptExcludeService_GetByIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReceiptExcludeService/GetByIdsResponse" message="tns:IReceiptExcludeService_GetByIds_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReceiptExcludeService" type="tns:IReceiptExcludeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExistExcludeCategory">
      <soap:operation soapAction="http://tempuri.org/IReceiptExcludeService/ExistExcludeCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByReceiptId">
      <soap:operation soapAction="http://tempuri.org/IReceiptExcludeService/GetByReceiptId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIds">
      <soap:operation soapAction="http://tempuri.org/IReceiptExcludeService/GetByIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReceiptExcludeService">
    <wsdl:port name="BasicHttpBinding_IReceiptExcludeService" binding="tns:BasicHttpBinding_IReceiptExcludeService">
      <soap:address location="http://localhost:3061/ReceiptExcludeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>