src/Rac.VOne.Client.Screen/Service References/LogDataService/LogDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogDataResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="LogData" nillable="true" type="tns:ArrayOfLogData" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogDataResult" nillable="true" type="tns:LogDataResult" />
  <xs:complexType name="ArrayOfLogData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogData" nillable="true" type="tns:LogData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogData" nillable="true" type="tns:ArrayOfLogData" />
  <xs:complexType name="LogData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="FirstLoggedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LogCount" type="xs:int" />
      <xs:element minOccurs="0" name="LoggedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoginUserCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MenuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogData" nillable="true" type="tns:LogData" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="CountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountResult" nillable="true" type="tns:CountResult" />
  <xs:complexType name="LogDatasResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Datas" nillable="true" type="tns:ArrayOfLogData" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogDatasResult" nillable="true" type="tns:LogDatasResult" />
</xs:schema>