src/Rac.VOne.Client.Screen/Service References/LogDataService/LogDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LogDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/LogDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/LogDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/LogDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogDataService_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="ILogDataService_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ILogDataService_Log_InputMessage">
    <wsdl:part name="parameters" element="tns:Log" />
  </wsdl:message>
  <wsdl:message name="ILogDataService_Log_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogResponse" />
  </wsdl:message>
  <wsdl:message name="ILogDataService_GetStats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStats" />
  </wsdl:message>
  <wsdl:message name="ILogDataService_GetStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatsResponse" />
  </wsdl:message>
  <wsdl:message name="ILogDataService_DeleteAll_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAll" />
  </wsdl:message>
  <wsdl:message name="ILogDataService_DeleteAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllResponse" />
  </wsdl:message>
  <wsdl:portType name="ILogDataService">
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogDataService/GetItems" message="tns:ILogDataService_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogDataService/GetItemsResponse" message="tns:ILogDataService_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Log">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogDataService/Log" message="tns:ILogDataService_Log_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogDataService/LogResponse" message="tns:ILogDataService_Log_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStats">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogDataService/GetStats" message="tns:ILogDataService_GetStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogDataService/GetStatsResponse" message="tns:ILogDataService_GetStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogDataService/DeleteAll" message="tns:ILogDataService_DeleteAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogDataService/DeleteAllResponse" message="tns:ILogDataService_DeleteAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILogDataService" type="tns:ILogDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/ILogDataService/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Log">
      <soap:operation soapAction="http://tempuri.org/ILogDataService/Log" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStats">
      <soap:operation soapAction="http://tempuri.org/ILogDataService/GetStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAll">
      <soap:operation soapAction="http://tempuri.org/ILogDataService/DeleteAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LogDataService">
    <wsdl:port name="BasicHttpBinding_ILogDataService" binding="tns:BasicHttpBinding_ILogDataService">
      <soap:address location="http://localhost:3061/LogDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>