src/Rac.VOne.Client.Screen/Service References/FunctionAuthorityMasterService/FunctionAuthorityMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FunctionAuthorityMaster" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/Master/FunctionAuthorityMaster.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/FunctionAuthorityMaster.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/FunctionAuthorityMaster.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
      <xsd:import schemaLocation="http://localhost:3061/Master/FunctionAuthorityMaster.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFunctionAuthorityMaster_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IFunctionAuthorityMaster_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IFunctionAuthorityMaster_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IFunctionAuthorityMaster_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IFunctionAuthorityMaster_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IFunctionAuthorityMaster_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IFunctionAuthorityMaster_GetByFunctionType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByFunctionType" />
  </wsdl:message>
  <wsdl:message name="IFunctionAuthorityMaster_GetByFunctionType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByFunctionTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IFunctionAuthorityMaster_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="IFunctionAuthorityMaster_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IFunctionAuthorityMaster_GetByLoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByLoginUser" />
  </wsdl:message>
  <wsdl:message name="IFunctionAuthorityMaster_GetByLoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByLoginUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IFunctionAuthorityMaster">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionAuthorityMaster/Save" message="tns:IFunctionAuthorityMaster_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionAuthorityMaster/SaveResponse" message="tns:IFunctionAuthorityMaster_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionAuthorityMaster/Delete" message="tns:IFunctionAuthorityMaster_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionAuthorityMaster/DeleteResponse" message="tns:IFunctionAuthorityMaster_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionAuthorityMaster/Get" message="tns:IFunctionAuthorityMaster_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionAuthorityMaster/GetResponse" message="tns:IFunctionAuthorityMaster_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByFunctionType">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionAuthorityMaster/GetByFunctionType" message="tns:IFunctionAuthorityMaster_GetByFunctionType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionAuthorityMaster/GetByFunctionTypeResponse" message="tns:IFunctionAuthorityMaster_GetByFunctionType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionAuthorityMaster/GetItems" message="tns:IFunctionAuthorityMaster_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionAuthorityMaster/GetItemsResponse" message="tns:IFunctionAuthorityMaster_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByLoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionAuthorityMaster/GetByLoginUser" message="tns:IFunctionAuthorityMaster_GetByLoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionAuthorityMaster/GetByLoginUserResponse" message="tns:IFunctionAuthorityMaster_GetByLoginUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFunctionAuthorityMaster" type="tns:IFunctionAuthorityMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IFunctionAuthorityMaster/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IFunctionAuthorityMaster/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IFunctionAuthorityMaster/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByFunctionType">
      <soap:operation soapAction="http://tempuri.org/IFunctionAuthorityMaster/GetByFunctionType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/IFunctionAuthorityMaster/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByLoginUser">
      <soap:operation soapAction="http://tempuri.org/IFunctionAuthorityMaster/GetByLoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FunctionAuthorityMaster">
    <wsdl:port name="BasicHttpBinding_IFunctionAuthorityMaster" binding="tns:BasicHttpBinding_IFunctionAuthorityMaster">
      <soap:address location="http://localhost:3061/Master/FunctionAuthorityMaster.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>