src/Rac.VOne.Client.Screen/Service References/HatarakuDBJournalizingService/HatarakuDBJournalizingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3061/HatarakuDBJournalizingService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="JournalizingOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="ContainAdvanceReceivedMatching" type="xs:boolean" />
      <xs:element minOccurs="0" name="ContainAdvanceReceivedOccured" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreateAtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateAtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrencyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsGeneral" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOutputted" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="JournalizingTypes" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="LoginUserId" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OutputAt" nillable="true" type="q2:ArrayOfdateTime" />
      <xs:element minOccurs="0" name="RecordedAtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RecordedAtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UseDiscount" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JournalizingOption" nillable="true" type="tns:JournalizingOption" />
  <xs:complexType name="JournalizingSummariesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="JournalizingsSummaries" nillable="true" type="tns:ArrayOfJournalizingSummary" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JournalizingSummariesResult" nillable="true" type="tns:JournalizingSummariesResult" />
  <xs:complexType name="ArrayOfJournalizingSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JournalizingSummary" nillable="true" type="tns:JournalizingSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJournalizingSummary" nillable="true" type="tns:ArrayOfJournalizingSummary" />
  <xs:complexType name="JournalizingSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutputAt" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JournalizingSummary" nillable="true" type="tns:JournalizingSummary" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="HatarakuDBDataResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="HatarakuDBData" nillable="true" type="tns:ArrayOfHatarakuDBData" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HatarakuDBDataResult" nillable="true" type="tns:HatarakuDBDataResult" />
  <xs:complexType name="ArrayOfHatarakuDBData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HatarakuDBData" nillable="true" type="tns:HatarakuDBData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHatarakuDBData" nillable="true" type="tns:ArrayOfHatarakuDBData" />
  <xs:complexType name="HatarakuDBData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignmentAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="InvoiceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordedAt" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HatarakuDBData" nillable="true" type="tns:HatarakuDBData" />
  <xs:complexType name="CountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountResult" nillable="true" type="tns:CountResult" />
</xs:schema>