src/Rac.VOne.Client.Screen/Service References/ReceiptHeaderService/ReceiptHeaderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReceiptHeaderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/ReceiptHeaderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/ReceiptHeaderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/ReceiptHeaderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
      <xsd:import schemaLocation="http://localhost:3061/ReceiptHeaderService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReceiptHeaderService_UpdateReceiptHeader_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReceiptHeader" />
  </wsdl:message>
  <wsdl:message name="IReceiptHeaderService_UpdateReceiptHeader_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReceiptHeaderResponse" />
  </wsdl:message>
  <wsdl:message name="IReceiptHeaderService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IReceiptHeaderService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:portType name="IReceiptHeaderService">
    <wsdl:operation name="UpdateReceiptHeader">
      <wsdl:input wsaw:Action="http://tempuri.org/IReceiptHeaderService/UpdateReceiptHeader" message="tns:IReceiptHeaderService_UpdateReceiptHeader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReceiptHeaderService/UpdateReceiptHeaderResponse" message="tns:IReceiptHeaderService_UpdateReceiptHeader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IReceiptHeaderService/Get" message="tns:IReceiptHeaderService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReceiptHeaderService/GetResponse" message="tns:IReceiptHeaderService_Get_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReceiptHeaderService" type="tns:IReceiptHeaderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateReceiptHeader">
      <soap:operation soapAction="http://tempuri.org/IReceiptHeaderService/UpdateReceiptHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IReceiptHeaderService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReceiptHeaderService">
    <wsdl:port name="BasicHttpBinding_IReceiptHeaderService" binding="tns:BasicHttpBinding_IReceiptHeaderService">
      <soap:address location="http://localhost:3061/ReceiptHeaderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>