src/Rac.VOne.Client.Screen/Service References/MenuAuthorityMasterService/MenuAuthorityMaster.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountResult" nillable="true" type="tns:CountResult" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="MenuAuthoritiesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MenuAuthorities" nillable="true" type="tns:ArrayOfMenuAuthority" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuAuthoritiesResult" nillable="true" type="tns:MenuAuthoritiesResult" />
  <xs:complexType name="ArrayOfMenuAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuAuthority" nillable="true" type="tns:MenuAuthority" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuAuthority" nillable="true" type="tns:ArrayOfMenuAuthority" />
  <xs:complexType name="MenuAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorityLevel" type="xs:int" />
      <xs:element minOccurs="0" name="Available" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="MenuCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuAuthority" nillable="true" type="tns:MenuAuthority" />
</xs:schema>