src/Rac.VOne.Client.Screen/Service References/StatusMasterService/StatusMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StatusMaster" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/Master/StatusMaster.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/StatusMaster.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/StatusMaster.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStatusMaster_GetStatusByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusByCode" />
  </wsdl:message>
  <wsdl:message name="IStatusMaster_GetStatusByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IStatusMaster_GetStatusesByStatusType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusesByStatusType" />
  </wsdl:message>
  <wsdl:message name="IStatusMaster_GetStatusesByStatusType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusesByStatusTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IStatusMaster_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IStatusMaster_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IStatusMaster_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IStatusMaster_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IStatusMaster_ExistReminder_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistReminder" />
  </wsdl:message>
  <wsdl:message name="IStatusMaster_ExistReminder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistReminderResponse" />
  </wsdl:message>
  <wsdl:message name="IStatusMaster_ExistReminderHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistReminderHistory" />
  </wsdl:message>
  <wsdl:message name="IStatusMaster_ExistReminderHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistReminderHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IStatusMaster">
    <wsdl:operation name="GetStatusByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatusMaster/GetStatusByCode" message="tns:IStatusMaster_GetStatusByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatusMaster/GetStatusByCodeResponse" message="tns:IStatusMaster_GetStatusByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusesByStatusType">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatusMaster/GetStatusesByStatusType" message="tns:IStatusMaster_GetStatusesByStatusType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatusMaster/GetStatusesByStatusTypeResponse" message="tns:IStatusMaster_GetStatusesByStatusType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatusMaster/Save" message="tns:IStatusMaster_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatusMaster/SaveResponse" message="tns:IStatusMaster_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatusMaster/Delete" message="tns:IStatusMaster_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatusMaster/DeleteResponse" message="tns:IStatusMaster_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistReminder">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatusMaster/ExistReminder" message="tns:IStatusMaster_ExistReminder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatusMaster/ExistReminderResponse" message="tns:IStatusMaster_ExistReminder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistReminderHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatusMaster/ExistReminderHistory" message="tns:IStatusMaster_ExistReminderHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatusMaster/ExistReminderHistoryResponse" message="tns:IStatusMaster_ExistReminderHistory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStatusMaster" type="tns:IStatusMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatusByCode">
      <soap:operation soapAction="http://tempuri.org/IStatusMaster/GetStatusByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusesByStatusType">
      <soap:operation soapAction="http://tempuri.org/IStatusMaster/GetStatusesByStatusType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IStatusMaster/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IStatusMaster/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistReminder">
      <soap:operation soapAction="http://tempuri.org/IStatusMaster/ExistReminder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistReminderHistory">
      <soap:operation soapAction="http://tempuri.org/IStatusMaster/ExistReminderHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatusMaster">
    <wsdl:port name="BasicHttpBinding_IStatusMaster" binding="tns:BasicHttpBinding_IStatusMaster">
      <soap:address location="http://localhost:3061/Master/StatusMaster.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>