src/Rac.VOne.Client.Screen/Service References/EBExcludeAccountSettingMasterService/EBExcludeAccountSettingMaster2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EBExcludeAccountSettingListResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="EBExcludeAccountSettingList" nillable="true" type="tns:ArrayOfEBExcludeAccountSetting" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EBExcludeAccountSettingListResult" nillable="true" type="tns:EBExcludeAccountSettingListResult" />
  <xs:complexType name="ArrayOfEBExcludeAccountSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EBExcludeAccountSetting" nillable="true" type="tns:EBExcludeAccountSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEBExcludeAccountSetting" nillable="true" type="tns:ArrayOfEBExcludeAccountSetting" />
  <xs:complexType name="EBExcludeAccountSetting">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="PayerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EBExcludeAccountSetting" nillable="true" type="tns:EBExcludeAccountSetting" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="EBExcludeAccountSettingResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="EBExcludeAccountSetting" nillable="true" type="tns:EBExcludeAccountSetting" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EBExcludeAccountSettingResult" nillable="true" type="tns:EBExcludeAccountSettingResult" />
  <xs:complexType name="CountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountResult" nillable="true" type="tns:CountResult" />
</xs:schema>