src/Rac.VOne.Client.Screen/Service References/EBExcludeAccountSettingMasterService/EBExcludeAccountSettingMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EBExcludeAccountSettingMaster" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/Master/EBExcludeAccountSettingMaster.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/EBExcludeAccountSettingMaster.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/EBExcludeAccountSettingMaster.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEBExcludeAccountSettingMaster_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="IEBExcludeAccountSettingMaster_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IEBExcludeAccountSettingMaster_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IEBExcludeAccountSettingMaster_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IEBExcludeAccountSettingMaster_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IEBExcludeAccountSettingMaster_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IEBExcludeAccountSettingMaster">
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IEBExcludeAccountSettingMaster/GetItems" message="tns:IEBExcludeAccountSettingMaster_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEBExcludeAccountSettingMaster/GetItemsResponse" message="tns:IEBExcludeAccountSettingMaster_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IEBExcludeAccountSettingMaster/Save" message="tns:IEBExcludeAccountSettingMaster_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEBExcludeAccountSettingMaster/SaveResponse" message="tns:IEBExcludeAccountSettingMaster_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IEBExcludeAccountSettingMaster/Delete" message="tns:IEBExcludeAccountSettingMaster_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEBExcludeAccountSettingMaster/DeleteResponse" message="tns:IEBExcludeAccountSettingMaster_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEBExcludeAccountSettingMaster" type="tns:IEBExcludeAccountSettingMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/IEBExcludeAccountSettingMaster/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IEBExcludeAccountSettingMaster/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IEBExcludeAccountSettingMaster/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EBExcludeAccountSettingMaster">
    <wsdl:port name="BasicHttpBinding_IEBExcludeAccountSettingMaster" binding="tns:BasicHttpBinding_IEBExcludeAccountSettingMaster">
      <soap:address location="http://localhost:3061/Master/EBExcludeAccountSettingMaster.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>