src/Rac.VOne.EbData/Service References/IgnoreKanaMasterService/IgnoreKanaMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IgnoreKanaMaster" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/Master/IgnoreKanaMaster.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/IgnoreKanaMaster.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/IgnoreKanaMaster.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIgnoreKanaMaster_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="IIgnoreKanaMaster_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IIgnoreKanaMaster_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IIgnoreKanaMaster_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IIgnoreKanaMaster_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IIgnoreKanaMaster_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IIgnoreKanaMaster_Import_InputMessage">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="IIgnoreKanaMaster_Import_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:message name="IIgnoreKanaMaster_ExistCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistCategory" />
  </wsdl:message>
  <wsdl:message name="IIgnoreKanaMaster_ExistCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IIgnoreKanaMaster_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IIgnoreKanaMaster_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:portType name="IIgnoreKanaMaster">
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IIgnoreKanaMaster/GetItems" message="tns:IIgnoreKanaMaster_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIgnoreKanaMaster/GetItemsResponse" message="tns:IIgnoreKanaMaster_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IIgnoreKanaMaster/Save" message="tns:IIgnoreKanaMaster_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIgnoreKanaMaster/SaveResponse" message="tns:IIgnoreKanaMaster_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IIgnoreKanaMaster/Delete" message="tns:IIgnoreKanaMaster_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIgnoreKanaMaster/DeleteResponse" message="tns:IIgnoreKanaMaster_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Import">
      <wsdl:input wsaw:Action="http://tempuri.org/IIgnoreKanaMaster/Import" message="tns:IIgnoreKanaMaster_Import_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIgnoreKanaMaster/ImportResponse" message="tns:IIgnoreKanaMaster_Import_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IIgnoreKanaMaster/ExistCategory" message="tns:IIgnoreKanaMaster_ExistCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIgnoreKanaMaster/ExistCategoryResponse" message="tns:IIgnoreKanaMaster_ExistCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IIgnoreKanaMaster/Get" message="tns:IIgnoreKanaMaster_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIgnoreKanaMaster/GetResponse" message="tns:IIgnoreKanaMaster_Get_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIgnoreKanaMaster" type="tns:IIgnoreKanaMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/IIgnoreKanaMaster/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IIgnoreKanaMaster/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IIgnoreKanaMaster/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <soap:operation soapAction="http://tempuri.org/IIgnoreKanaMaster/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistCategory">
      <soap:operation soapAction="http://tempuri.org/IIgnoreKanaMaster/ExistCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IIgnoreKanaMaster/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IgnoreKanaMaster">
    <wsdl:port name="BasicHttpBinding_IIgnoreKanaMaster" binding="tns:BasicHttpBinding_IIgnoreKanaMaster">
      <soap:address location="http://localhost:3061/Master/IgnoreKanaMaster.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>