src/Rac.VOne.EbData/Service References/IgnoreKanaMasterService/IgnoreKanaMaster.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IgnoreKanasResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IgnoreKanas" nillable="true" type="tns:ArrayOfIgnoreKana" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IgnoreKanasResult" nillable="true" type="tns:IgnoreKanasResult" />
  <xs:complexType name="ArrayOfIgnoreKana">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IgnoreKana" nillable="true" type="tns:IgnoreKana" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIgnoreKana" nillable="true" type="tns:ArrayOfIgnoreKana" />
  <xs:complexType name="IgnoreKana">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="ExcludeCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExcludeCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ExcludeCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kana" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IgnoreKana" nillable="true" type="tns:IgnoreKana" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="IgnoreKanaResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IgnoreKana" nillable="true" type="tns:IgnoreKana" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IgnoreKanaResult" nillable="true" type="tns:IgnoreKanaResult" />
  <xs:complexType name="CountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountResult" nillable="true" type="tns:CountResult" />
  <xs:complexType name="ImportResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeleteCount" type="xs:int" />
      <xs:element minOccurs="0" name="InsertCount" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="UpdateCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportResult" nillable="true" type="tns:ImportResult" />
  <xs:complexType name="ExistResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exist" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExistResult" nillable="true" type="tns:ExistResult" />
</xs:schema>