src/Rac.VOne.Client.Screen/Service References/CategoryMasterService/CategoryMaster3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3061/Master/CategoryMaster.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:3061/Master/CategoryMaster.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Id" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetResult" nillable="true" type="q2:CategoriesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="CategoryType" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Code" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetByCodeResult" nillable="true" type="q4:CategoriesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="CategorySearch" nillable="true" type="q5:CategorySearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetItemsResult" nillable="true" type="q6:CategoriesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistAccountTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountTitleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistAccountTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ExistAccountTitleResult" nillable="true" type="q7:ExistResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="Category" nillable="true" type="q8:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SaveResult" nillable="true" type="q9:CategoryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="DeleteResult" nillable="true" type="q10:CountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistPaymentAgency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PaymentAgencyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistPaymentAgencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ExistPaymentAgencyResult" nillable="true" type="q11:ExistResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceCollectCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="CategoryType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceCollectCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetInvoiceCollectCategoriesResult" nillable="true" type="q12:CategoriesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>