src/Rac.VOne.Client.Screen/Service References/InvoiceSettingService/InvoiceSettingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3061/InvoiceSettingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
  <xs:element name="GetInvoiceCommonSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceCommonSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetInvoiceCommonSettingResult" nillable="true" type="q1:InvoiceCommonSettingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInvoiceCommonSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="InvoiceCommonSetting" nillable="true" type="q2:InvoiceCommonSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInvoiceCommonSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SaveInvoiceCommonSettingResult" nillable="true" type="q3:InvoiceCommonSettingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCollectCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="CollectCategories" nillable="true" type="q4:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCollectCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="UpdateCollectCategoryResult" nillable="true" type="q5:CategoriesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceNumberHistories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceNumberHistoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetInvoiceNumberHistoriesResult" nillable="true" type="q6:InvoiceNumberHistoriesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInvoiceNumberHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="InvoiceNumberHistory" nillable="true" type="q7:InvoiceNumberHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInvoiceNumberHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SaveInvoiceNumberHistoryResult" nillable="true" type="q8:InvoiceNumberHistoryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInvoiceNumberHistories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInvoiceNumberHistoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="DeleteInvoiceNumberHistoriesResult" nillable="true" type="q9:CountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceNumberSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceNumberSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetInvoiceNumberSettingResult" nillable="true" type="q10:InvoiceNumberSettingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInvoiceNumberSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="InvoiceNumberSetting" nillable="true" type="q11:InvoiceNumberSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInvoiceNumberSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SaveInvoiceNumberSettingResult" nillable="true" type="q12:InvoiceNumberSettingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistCollectCategoryAtTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CollectCategoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistCollectCategoryAtTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ExistCollectCategoryAtTemplateResult" nillable="true" type="q13:ExistResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceTemplateSettingByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceTemplateSettingByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetInvoiceTemplateSettingByCodeResult" nillable="true" type="q14:InvoiceTemplateSettingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceTemplateSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceTemplateSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetInvoiceTemplateSettingsResult" nillable="true" type="q15:InvoiceTemplateSettingsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInvoiceTemplateSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="InvoiceTemplateSetting" nillable="true" type="q16:InvoiceTemplateSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInvoiceTemplateSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SaveInvoiceTemplateSettingResult" nillable="true" type="q17:InvoiceTemplateSettingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInvoiceTemplateSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInvoiceTemplateSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="DeleteInvoiceTemplateSettingResult" nillable="true" type="q18:CountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>