src/Rac.VOne.Client.Screen/Service References/CustomerDiscountMasterService/CustomerDiscountMaster1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExistResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exist" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExistResult" nillable="true" type="tns:ExistResult" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="ArrayOfCustomerDiscount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerDiscount" nillable="true" type="tns:CustomerDiscount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerDiscount" nillable="true" type="tns:ArrayOfCustomerDiscount" />
  <xs:complexType name="CustomerDiscount">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountTitleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTitleId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountTitleId1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountTitleId2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountTitleId3" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountTitleId4" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountTitleId5" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountTitleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentId1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentId2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentId3" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentId4" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentId5" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rate" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rate1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rate2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rate3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rate4" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rate5" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RoundingMode" type="xs:int" />
      <xs:element minOccurs="0" name="RoundingMode1" type="xs:int" />
      <xs:element minOccurs="0" name="RoundingMode2" type="xs:int" />
      <xs:element minOccurs="0" name="RoundingMode3" type="xs:int" />
      <xs:element minOccurs="0" name="RoundingMode4" type="xs:int" />
      <xs:element minOccurs="0" name="RoundingMode5" type="xs:int" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="SubCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCode2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCode3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCode4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCode5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDiscount" nillable="true" type="tns:CustomerDiscount" />
  <xs:complexType name="ImportResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeleteCount" type="xs:int" />
      <xs:element minOccurs="0" name="InsertCount" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="UpdateCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportResult" nillable="true" type="tns:ImportResult" />
</xs:schema>