src/Rac.VOne.Client.Screen/Service References/CustomerDiscountMasterService/CustomerDiscountMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerDiscountMaster" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/Master/CustomerDiscountMaster.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/CustomerDiscountMaster.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/CustomerDiscountMaster.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerDiscountMaster_ExistAccountTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistAccountTitle" />
  </wsdl:message>
  <wsdl:message name="ICustomerDiscountMaster_ExistAccountTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistAccountTitleResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerDiscountMaster_Import_InputMessage">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="ICustomerDiscountMaster_Import_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerDiscountMaster">
    <wsdl:operation name="ExistAccountTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerDiscountMaster/ExistAccountTitle" message="tns:ICustomerDiscountMaster_ExistAccountTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerDiscountMaster/ExistAccountTitleResponse" message="tns:ICustomerDiscountMaster_ExistAccountTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Import">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerDiscountMaster/Import" message="tns:ICustomerDiscountMaster_Import_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerDiscountMaster/ImportResponse" message="tns:ICustomerDiscountMaster_Import_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerDiscountMaster" type="tns:ICustomerDiscountMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExistAccountTitle">
      <soap:operation soapAction="http://tempuri.org/ICustomerDiscountMaster/ExistAccountTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <soap:operation soapAction="http://tempuri.org/ICustomerDiscountMaster/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerDiscountMaster">
    <wsdl:port name="BasicHttpBinding_ICustomerDiscountMaster" binding="tns:BasicHttpBinding_ICustomerDiscountMaster">
      <soap:address location="http://localhost:3061/Master/CustomerDiscountMaster.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>