src/Rac.VOne.Client.Screen/Service References/DepartmentMasterService/DepartmentMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DepartmentMaster" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/Master/DepartmentMaster.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/DepartmentMaster.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/DepartmentMaster.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
      <xsd:import schemaLocation="http://localhost:3061/Master/DepartmentMaster.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDepartmentMaster_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_GetByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByCode" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_GetByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_GetByCodeAndStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByCodeAndStaff" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_GetByCodeAndStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByCodeAndStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_GetDepartmentAndStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentAndStaff" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_GetDepartmentAndStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentAndStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_Import_InputMessage">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_Import_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_GetImportItemsStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsStaff" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_GetImportItemsStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_GetImportItemsSectionWithDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsSectionWithDepartment" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_GetImportItemsSectionWithDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsSectionWithDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_GetImportItemsBilling_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsBilling" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_GetImportItemsBilling_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsBillingResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_DepartmentWithSection_InputMessage">
    <wsdl:part name="parameters" element="tns:DepartmentWithSection" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_DepartmentWithSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepartmentWithSectionResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_GetWithoutSection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWithoutSection" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_GetWithoutSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWithoutSectionResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_GetByLoginUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByLoginUserId" />
  </wsdl:message>
  <wsdl:message name="IDepartmentMaster_GetByLoginUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByLoginUserIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IDepartmentMaster">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentMaster/Save" message="tns:IDepartmentMaster_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentMaster/SaveResponse" message="tns:IDepartmentMaster_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentMaster/Delete" message="tns:IDepartmentMaster_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentMaster/DeleteResponse" message="tns:IDepartmentMaster_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentMaster/Get" message="tns:IDepartmentMaster_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentMaster/GetResponse" message="tns:IDepartmentMaster_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentMaster/GetByCode" message="tns:IDepartmentMaster_GetByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentMaster/GetByCodeResponse" message="tns:IDepartmentMaster_GetByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByCodeAndStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentMaster/GetByCodeAndStaff" message="tns:IDepartmentMaster_GetByCodeAndStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentMaster/GetByCodeAndStaffResponse" message="tns:IDepartmentMaster_GetByCodeAndStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentMaster/GetItems" message="tns:IDepartmentMaster_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentMaster/GetItemsResponse" message="tns:IDepartmentMaster_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentAndStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentMaster/GetDepartmentAndStaff" message="tns:IDepartmentMaster_GetDepartmentAndStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentMaster/GetDepartmentAndStaffResponse" message="tns:IDepartmentMaster_GetDepartmentAndStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Import">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentMaster/Import" message="tns:IDepartmentMaster_Import_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentMaster/ImportResponse" message="tns:IDepartmentMaster_Import_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentMaster/GetImportItemsStaff" message="tns:IDepartmentMaster_GetImportItemsStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentMaster/GetImportItemsStaffResponse" message="tns:IDepartmentMaster_GetImportItemsStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsSectionWithDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentMaster/GetImportItemsSectionWithDepartment" message="tns:IDepartmentMaster_GetImportItemsSectionWithDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentMaster/GetImportItemsSectionWithDepartmentResponse" message="tns:IDepartmentMaster_GetImportItemsSectionWithDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsBilling">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentMaster/GetImportItemsBilling" message="tns:IDepartmentMaster_GetImportItemsBilling_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentMaster/GetImportItemsBillingResponse" message="tns:IDepartmentMaster_GetImportItemsBilling_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DepartmentWithSection">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentMaster/DepartmentWithSection" message="tns:IDepartmentMaster_DepartmentWithSection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentMaster/DepartmentWithSectionResponse" message="tns:IDepartmentMaster_DepartmentWithSection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWithoutSection">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentMaster/GetWithoutSection" message="tns:IDepartmentMaster_GetWithoutSection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentMaster/GetWithoutSectionResponse" message="tns:IDepartmentMaster_GetWithoutSection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByLoginUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentMaster/GetByLoginUserId" message="tns:IDepartmentMaster_GetByLoginUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentMaster/GetByLoginUserIdResponse" message="tns:IDepartmentMaster_GetByLoginUserId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDepartmentMaster" type="tns:IDepartmentMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IDepartmentMaster/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IDepartmentMaster/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IDepartmentMaster/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByCode">
      <soap:operation soapAction="http://tempuri.org/IDepartmentMaster/GetByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByCodeAndStaff">
      <soap:operation soapAction="http://tempuri.org/IDepartmentMaster/GetByCodeAndStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/IDepartmentMaster/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentAndStaff">
      <soap:operation soapAction="http://tempuri.org/IDepartmentMaster/GetDepartmentAndStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <soap:operation soapAction="http://tempuri.org/IDepartmentMaster/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsStaff">
      <soap:operation soapAction="http://tempuri.org/IDepartmentMaster/GetImportItemsStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsSectionWithDepartment">
      <soap:operation soapAction="http://tempuri.org/IDepartmentMaster/GetImportItemsSectionWithDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsBilling">
      <soap:operation soapAction="http://tempuri.org/IDepartmentMaster/GetImportItemsBilling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DepartmentWithSection">
      <soap:operation soapAction="http://tempuri.org/IDepartmentMaster/DepartmentWithSection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWithoutSection">
      <soap:operation soapAction="http://tempuri.org/IDepartmentMaster/GetWithoutSection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByLoginUserId">
      <soap:operation soapAction="http://tempuri.org/IDepartmentMaster/GetByLoginUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DepartmentMaster">
    <wsdl:port name="BasicHttpBinding_IDepartmentMaster" binding="tns:BasicHttpBinding_IDepartmentMaster">
      <soap:address location="http://localhost:3061/Master/DepartmentMaster.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>