src/Rac.VOne.Client.Screen/Service References/SectionMasterService/SectionMaster.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3061/Master/SectionMaster.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SectionsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="Sections" nillable="true" type="tns:ArrayOfSection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SectionsResult" nillable="true" type="tns:SectionsResult" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="ArrayOfSection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Section" nillable="true" type="tns:Section" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSection" nillable="true" type="tns:ArrayOfSection" />
  <xs:complexType name="Section">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LoginUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerCodeLeft" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerCodeRight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Section" nillable="true" type="tns:Section" />
  <xs:complexType name="SectionResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="Section" nillable="true" type="tns:Section" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SectionResults" nillable="true" type="tns:SectionResults" />
  <xs:complexType name="CountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountResult" nillable="true" type="tns:CountResult" />
  <xs:complexType name="SectionSearch">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Codes" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseCommonSearch" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SectionSearch" nillable="true" type="tns:SectionSearch" />
  <xs:complexType name="SectionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="Section" nillable="true" type="tns:ArrayOfSection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SectionResult" nillable="true" type="tns:SectionResult" />
  <xs:complexType name="ImportResultSection">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ImportResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Section" nillable="true" type="tns:ArrayOfSection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImportResultSection" nillable="true" type="tns:ImportResultSection" />
  <xs:complexType name="ImportResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeleteCount" type="xs:int" />
      <xs:element minOccurs="0" name="InsertCount" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="UpdateCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportResult" nillable="true" type="tns:ImportResult" />
  <xs:complexType name="MasterDatasResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MasterDatas" nillable="true" type="tns:ArrayOfMasterData" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterDatasResult" nillable="true" type="tns:MasterDatasResult" />
  <xs:complexType name="ArrayOfMasterData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MasterData" nillable="true" type="tns:MasterData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMasterData" nillable="true" type="tns:ArrayOfMasterData" />
  <xs:complexType name="MasterData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterData" nillable="true" type="tns:MasterData" />
</xs:schema>