src/Rac.VOne.Client.Screen/Service References/BillingDivisionContractMasterService/BillingDivisionContractMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BillingDivisionContractMaster" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/Master/BillingDivisionContractMaster.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/BillingDivisionContractMaster.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/BillingDivisionContractMaster.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
      <xsd:import schemaLocation="http://localhost:3061/Master/BillingDivisionContractMaster.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBillingDivisionContractMaster_GetByContractNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByContractNumber" />
  </wsdl:message>
  <wsdl:message name="IBillingDivisionContractMaster_GetByContractNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByContractNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingDivisionContractMaster_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="IBillingDivisionContractMaster_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingDivisionContractMaster_GetByCustomerIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByCustomerIds" />
  </wsdl:message>
  <wsdl:message name="IBillingDivisionContractMaster_GetByCustomerIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByCustomerIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingDivisionContractMaster_GetByBillingIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByBillingIds" />
  </wsdl:message>
  <wsdl:message name="IBillingDivisionContractMaster_GetByBillingIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByBillingIdsResponse" />
  </wsdl:message>
  <wsdl:portType name="IBillingDivisionContractMaster">
    <wsdl:operation name="GetByContractNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingDivisionContractMaster/GetByContractNumber" message="tns:IBillingDivisionContractMaster_GetByContractNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingDivisionContractMaster/GetByContractNumberResponse" message="tns:IBillingDivisionContractMaster_GetByContractNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingDivisionContractMaster/GetItems" message="tns:IBillingDivisionContractMaster_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingDivisionContractMaster/GetItemsResponse" message="tns:IBillingDivisionContractMaster_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByCustomerIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingDivisionContractMaster/GetByCustomerIds" message="tns:IBillingDivisionContractMaster_GetByCustomerIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingDivisionContractMaster/GetByCustomerIdsResponse" message="tns:IBillingDivisionContractMaster_GetByCustomerIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByBillingIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingDivisionContractMaster/GetByBillingIds" message="tns:IBillingDivisionContractMaster_GetByBillingIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingDivisionContractMaster/GetByBillingIdsResponse" message="tns:IBillingDivisionContractMaster_GetByBillingIds_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBillingDivisionContractMaster" type="tns:IBillingDivisionContractMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetByContractNumber">
      <soap:operation soapAction="http://tempuri.org/IBillingDivisionContractMaster/GetByContractNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/IBillingDivisionContractMaster/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByCustomerIds">
      <soap:operation soapAction="http://tempuri.org/IBillingDivisionContractMaster/GetByCustomerIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByBillingIds">
      <soap:operation soapAction="http://tempuri.org/IBillingDivisionContractMaster/GetByBillingIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BillingDivisionContractMaster">
    <wsdl:port name="BasicHttpBinding_IBillingDivisionContractMaster" binding="tns:BasicHttpBinding_IBillingDivisionContractMaster">
      <soap:address location="http://localhost:3061/Master/BillingDivisionContractMaster.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>