src/Rac.VOne.Client.Screen/Service References/BillingDivisionContractMasterService/BillingDivisionContractMaster1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BillingDivisionContractsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingDivisionContracts" nillable="true" type="tns:ArrayOfBillingDivisionContract" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingDivisionContractsResult" nillable="true" type="tns:BillingDivisionContractsResult" />
  <xs:complexType name="ArrayOfBillingDivisionContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillingDivisionContract" nillable="true" type="tns:BillingDivisionContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillingDivisionContract" nillable="true" type="tns:ArrayOfBillingDivisionContract" />
  <xs:complexType name="BillingDivisionContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="BasisDay" type="xs:int" />
      <xs:element minOccurs="0" name="BillingAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CancelDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Comfirm" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="ContractNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="DivisionCount" type="xs:int" />
      <xs:element minOccurs="0" name="FirstDateType" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Monthly" type="xs:int" />
      <xs:element minOccurs="0" name="RemainsApportionment" type="xs:int" />
      <xs:element minOccurs="0" name="RoundingMode" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingDivisionContract" nillable="true" type="tns:BillingDivisionContract" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
</xs:schema>