src/Rac.VOne.Client.Screen/Service References/ReportService/ReportService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3061/ReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
  <xs:element name="ArrearagesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ArrearagesListSearch" nillable="true" type="q1:ArrearagesListSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArrearagesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ArrearagesListResult" nillable="true" type="q2:ArrearagesListsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScheduledPaymentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ScheduledPaymentListSearch" nillable="true" type="q3:ScheduledPaymentListSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScheduledPaymentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ScheduledPaymentListResult" nillable="true" type="q4:ScheduledPaymentListsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>