src/Rac.VOne.Client.Screen/Service References/StaffMasterService/StaffMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StaffMaster" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/Master/StaffMaster.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/StaffMaster.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/StaffMaster.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
      <xsd:import schemaLocation="http://localhost:3061/Master/StaffMaster.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStaffMaster_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_GetByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByCode" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_GetByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_ExistDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistDepartment" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_ExistDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_Import_InputMessage">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_Import_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_GetImportItemsLoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsLoginUser" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_GetImportItemsLoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsLoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_GetImportItemsCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsCustomer" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_GetImportItemsCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_GetImportItemsBilling_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsBilling" />
  </wsdl:message>
  <wsdl:message name="IStaffMaster_GetImportItemsBilling_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImportItemsBillingResponse" />
  </wsdl:message>
  <wsdl:portType name="IStaffMaster">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffMaster/Save" message="tns:IStaffMaster_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffMaster/SaveResponse" message="tns:IStaffMaster_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffMaster/Delete" message="tns:IStaffMaster_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffMaster/DeleteResponse" message="tns:IStaffMaster_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffMaster/Get" message="tns:IStaffMaster_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffMaster/GetResponse" message="tns:IStaffMaster_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffMaster/GetByCode" message="tns:IStaffMaster_GetByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffMaster/GetByCodeResponse" message="tns:IStaffMaster_GetByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffMaster/GetItems" message="tns:IStaffMaster_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffMaster/GetItemsResponse" message="tns:IStaffMaster_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffMaster/ExistDepartment" message="tns:IStaffMaster_ExistDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffMaster/ExistDepartmentResponse" message="tns:IStaffMaster_ExistDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Import">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffMaster/Import" message="tns:IStaffMaster_Import_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffMaster/ImportResponse" message="tns:IStaffMaster_Import_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsLoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffMaster/GetImportItemsLoginUser" message="tns:IStaffMaster_GetImportItemsLoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffMaster/GetImportItemsLoginUserResponse" message="tns:IStaffMaster_GetImportItemsLoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffMaster/GetImportItemsCustomer" message="tns:IStaffMaster_GetImportItemsCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffMaster/GetImportItemsCustomerResponse" message="tns:IStaffMaster_GetImportItemsCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsBilling">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffMaster/GetImportItemsBilling" message="tns:IStaffMaster_GetImportItemsBilling_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffMaster/GetImportItemsBillingResponse" message="tns:IStaffMaster_GetImportItemsBilling_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStaffMaster" type="tns:IStaffMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IStaffMaster/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IStaffMaster/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IStaffMaster/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByCode">
      <soap:operation soapAction="http://tempuri.org/IStaffMaster/GetByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/IStaffMaster/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistDepartment">
      <soap:operation soapAction="http://tempuri.org/IStaffMaster/ExistDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <soap:operation soapAction="http://tempuri.org/IStaffMaster/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsLoginUser">
      <soap:operation soapAction="http://tempuri.org/IStaffMaster/GetImportItemsLoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsCustomer">
      <soap:operation soapAction="http://tempuri.org/IStaffMaster/GetImportItemsCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImportItemsBilling">
      <soap:operation soapAction="http://tempuri.org/IStaffMaster/GetImportItemsBilling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StaffMaster">
    <wsdl:port name="BasicHttpBinding_IStaffMaster" binding="tns:BasicHttpBinding_IStaffMaster">
      <soap:address location="http://localhost:3061/Master/StaffMaster.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>