src/Rac.VOne.Client.Screen/Service References/PeriodicBillingService/PeriodicBillingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPeriodicBillingSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PeriodicBillingSetting" nillable="true" type="tns:PeriodicBillingSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeriodicBillingSetting" nillable="true" type="tns:ArrayOfPeriodicBillingSetting" />
  <xs:complexType name="PeriodicBillingSetting">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addressee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BaseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BilledAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BilledCycle" type="xs:int" />
      <xs:element minOccurs="0" name="BilledDay" type="xs:int" />
      <xs:element minOccurs="0" name="BillingAmountTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="CollectCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CollectCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DestinationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:ArrayOfPeriodicBillingSettingDetail" />
      <xs:element minOccurs="0" name="EndMonth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="InvoiceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SetBillingNote1" type="xs:int" />
      <xs:element minOccurs="0" name="SetBillingNote2" type="xs:int" />
      <xs:element minOccurs="0" name="StaffCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffId" type="xs:int" />
      <xs:element minOccurs="0" name="StaffName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartMonth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeriodicBillingSetting" nillable="true" type="tns:PeriodicBillingSetting" />
  <xs:complexType name="ArrayOfPeriodicBillingSettingDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PeriodicBillingSettingDetail" nillable="true" type="tns:PeriodicBillingSettingDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeriodicBillingSettingDetail" nillable="true" type="tns:ArrayOfPeriodicBillingSettingDetail" />
  <xs:complexType name="PeriodicBillingSettingDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="DebitAccountTitleId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodicBillingSettingId" type="xs:long" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxClassId" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitSymbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeriodicBillingSettingDetail" nillable="true" type="tns:PeriodicBillingSettingDetail" />
  <xs:complexType name="BillingsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Billings" nillable="true" type="tns:ArrayOfBilling" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingsResult" nillable="true" type="tns:BillingsResult" />
  <xs:complexType name="ArrayOfBilling">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Billing" nillable="true" type="tns:Billing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBilling" nillable="true" type="tns:ArrayOfBilling" />
  <xs:complexType name="Billing">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountTitleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTransferLogId" type="xs:long" />
      <xs:element minOccurs="0" name="Approved" type="xs:int" />
      <xs:element minOccurs="0" name="AssignmentAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AssignmentFlag" type="xs:int" />
      <xs:element minOccurs="0" name="BankTransferFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="BilledAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillingAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="BillingCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingDiscountId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="BillingDivisionContract" type="xs:int" />
      <xs:element minOccurs="0" name="BillingDueAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillingId" type="xs:int" />
      <xs:element minOccurs="0" name="BillingInputId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="BillingInputTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryCodeAndName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClosingAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CollectCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollectCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CollectCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="Confirm" type="xs:int" />
      <xs:element minOccurs="0" name="ContractNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreditAccountTitleId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyPrecision" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerKana" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebitAccountTitleId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeleteAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DiscountAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAmount1" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAmount2" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAmount3" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAmount4" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAmount5" type="xs:decimal" />
      <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
      <xs:element minOccurs="0" name="DueAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstRecordedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="InputType" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsParent" type="xs:int" />
      <xs:element minOccurs="0" name="LastRecordedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoginUserCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDueAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Note1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OffsetAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrgCategoryCodeAndName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalCollectCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OriginalDueAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutputAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ParentCustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentCustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="ParentCustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PeriodicBillingSettingId" type="xs:long" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PublishAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RemainAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="RequestDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ResultCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SalesAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ScheduledPaymentKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffId" type="xs:int" />
      <xs:element minOccurs="0" name="StaffName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxClassId" type="xs:int" />
      <xs:element minOccurs="0" name="TaxDifference" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransferOriginalDueAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitSymbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
      <xs:element minOccurs="0" name="UseDiscount" type="xs:boolean" />
      <xs:element minOccurs="0" name="UseLongTermAdvancedReceived" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Billing" nillable="true" type="tns:Billing" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
</xs:schema>