src/Rac.VOne.Client.Screen/Service References/PaymentAgencyFeeMasterService/PaymentAgencyFeeMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaymentAgencyFeeMaster" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/Master/PaymentAgencyFeeMaster.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/PaymentAgencyFeeMaster.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/PaymentAgencyFeeMaster.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaymentAgencyFeeMaster_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IPaymentAgencyFeeMaster_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentAgencyFeeMaster_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IPaymentAgencyFeeMaster_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentAgencyFeeMaster_GetForExport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForExport" />
  </wsdl:message>
  <wsdl:message name="IPaymentAgencyFeeMaster_GetForExport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForExportResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaymentAgencyFeeMaster">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentAgencyFeeMaster/Save" message="tns:IPaymentAgencyFeeMaster_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentAgencyFeeMaster/SaveResponse" message="tns:IPaymentAgencyFeeMaster_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentAgencyFeeMaster/Get" message="tns:IPaymentAgencyFeeMaster_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentAgencyFeeMaster/GetResponse" message="tns:IPaymentAgencyFeeMaster_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetForExport">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentAgencyFeeMaster/GetForExport" message="tns:IPaymentAgencyFeeMaster_GetForExport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentAgencyFeeMaster/GetForExportResponse" message="tns:IPaymentAgencyFeeMaster_GetForExport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaymentAgencyFeeMaster" type="tns:IPaymentAgencyFeeMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IPaymentAgencyFeeMaster/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IPaymentAgencyFeeMaster/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForExport">
      <soap:operation soapAction="http://tempuri.org/IPaymentAgencyFeeMaster/GetForExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentAgencyFeeMaster">
    <wsdl:port name="BasicHttpBinding_IPaymentAgencyFeeMaster" binding="tns:BasicHttpBinding_IPaymentAgencyFeeMaster">
      <soap:address location="http://localhost:3061/Master/PaymentAgencyFeeMaster.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>