src/Rac.VOne.Client.Screen/Service References/AccountTransferService/AccountTransferService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3061/AccountTransferService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AccountTransferLogsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountTransferLog" nillable="true" type="tns:ArrayOfAccountTransferLog" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountTransferLogsResult" nillable="true" type="tns:AccountTransferLogsResult" />
  <xs:complexType name="ArrayOfAccountTransferLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountTransferLog" nillable="true" type="tns:AccountTransferLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountTransferLog" nillable="true" type="tns:ArrayOfAccountTransferLog" />
  <xs:complexType name="AccountTransferLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="CollectCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollectCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CollectCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="DueAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="OutputAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="OutputCount" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentAgencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentAgencyId" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentAgencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountTransferLog" nillable="true" type="tns:AccountTransferLog" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="AccountTransferSearch">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AccountTransferLogIds" nillable="true" type="q1:ArrayOflong" />
      <xs:element minOccurs="0" name="CollectCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DueAtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DueAtTo" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountTransferSearch" nillable="true" type="tns:AccountTransferSearch" />
  <xs:complexType name="AccountTransferDetailsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountTransferDetail" nillable="true" type="tns:ArrayOfAccountTransferDetail" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountTransferDetailsResult" nillable="true" type="tns:AccountTransferDetailsResult" />
  <xs:complexType name="ArrayOfAccountTransferDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountTransferDetail" nillable="true" type="tns:AccountTransferDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountTransferDetail" nillable="true" type="tns:ArrayOfAccountTransferDetail" />
  <xs:complexType name="AccountTransferDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountTransferLogId" type="xs:long" />
      <xs:element minOccurs="0" name="BilledAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillingAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingId" type="xs:long" />
      <xs:element minOccurs="0" name="BillingUpdateAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClosingAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CollectCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollectCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CollectCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DueAt2nd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FileFormatId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="InvoiceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewDueAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Note1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentAgencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentAgencyId" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentAgencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StaffCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffId" type="xs:int" />
      <xs:element minOccurs="0" name="StaffName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferAccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferAccountTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="TransferBankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferBranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferBranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferCustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferNewCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountTransferDetail" nillable="true" type="tns:AccountTransferDetail" />
  <xs:complexType name="CountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountResult" nillable="true" type="tns:CountResult" />
</xs:schema>