src/Rac.VOne.Client.Screen/Service References/ColumnNameSettingMasterService/ColumnNameSettingMaster.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ColumnNameSetting">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColumnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
      <xs:element minOccurs="0" name="OriginalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnNameSetting" nillable="true" type="tns:ColumnNameSetting" />
  <xs:complexType name="ColumnNameSettingResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnName" nillable="true" type="tns:ColumnNameSetting" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnNameSettingResult" nillable="true" type="tns:ColumnNameSettingResult" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="ColumnNameSettingsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnNames" nillable="true" type="tns:ArrayOfColumnNameSetting" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnNameSettingsResult" nillable="true" type="tns:ColumnNameSettingsResult" />
  <xs:complexType name="ArrayOfColumnNameSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColumnNameSetting" nillable="true" type="tns:ColumnNameSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColumnNameSetting" nillable="true" type="tns:ArrayOfColumnNameSetting" />
</xs:schema>