src/Rac.VOne.Client.Screen/Service References/SectionWithDepartmentMasterService/SectionWithDepartmentMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SectionWithDepartmentMaster" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/Master/SectionWithDepartmentMaster.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/SectionWithDepartmentMaster.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/SectionWithDepartmentMaster.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISectionWithDepartmentMaster_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="ISectionWithDepartmentMaster_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="ISectionWithDepartmentMaster_GetBySection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBySection" />
  </wsdl:message>
  <wsdl:message name="ISectionWithDepartmentMaster_GetBySection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBySectionResponse" />
  </wsdl:message>
  <wsdl:message name="ISectionWithDepartmentMaster_GetByDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByDepartment" />
  </wsdl:message>
  <wsdl:message name="ISectionWithDepartmentMaster_GetByDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="ISectionWithDepartmentMaster_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="ISectionWithDepartmentMaster_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ISectionWithDepartmentMaster_Import_InputMessage">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="ISectionWithDepartmentMaster_Import_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:message name="ISectionWithDepartmentMaster_ExistSection_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistSection" />
  </wsdl:message>
  <wsdl:message name="ISectionWithDepartmentMaster_ExistSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistSectionResponse" />
  </wsdl:message>
  <wsdl:message name="ISectionWithDepartmentMaster_ExistDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistDepartment" />
  </wsdl:message>
  <wsdl:message name="ISectionWithDepartmentMaster_ExistDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistDepartmentResponse" />
  </wsdl:message>
  <wsdl:portType name="ISectionWithDepartmentMaster">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/ISectionWithDepartmentMaster/Save" message="tns:ISectionWithDepartmentMaster_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISectionWithDepartmentMaster/SaveResponse" message="tns:ISectionWithDepartmentMaster_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBySection">
      <wsdl:input wsaw:Action="http://tempuri.org/ISectionWithDepartmentMaster/GetBySection" message="tns:ISectionWithDepartmentMaster_GetBySection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISectionWithDepartmentMaster/GetBySectionResponse" message="tns:ISectionWithDepartmentMaster_GetBySection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/ISectionWithDepartmentMaster/GetByDepartment" message="tns:ISectionWithDepartmentMaster_GetByDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISectionWithDepartmentMaster/GetByDepartmentResponse" message="tns:ISectionWithDepartmentMaster_GetByDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ISectionWithDepartmentMaster/GetItems" message="tns:ISectionWithDepartmentMaster_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISectionWithDepartmentMaster/GetItemsResponse" message="tns:ISectionWithDepartmentMaster_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Import">
      <wsdl:input wsaw:Action="http://tempuri.org/ISectionWithDepartmentMaster/Import" message="tns:ISectionWithDepartmentMaster_Import_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISectionWithDepartmentMaster/ImportResponse" message="tns:ISectionWithDepartmentMaster_Import_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistSection">
      <wsdl:input wsaw:Action="http://tempuri.org/ISectionWithDepartmentMaster/ExistSection" message="tns:ISectionWithDepartmentMaster_ExistSection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISectionWithDepartmentMaster/ExistSectionResponse" message="tns:ISectionWithDepartmentMaster_ExistSection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/ISectionWithDepartmentMaster/ExistDepartment" message="tns:ISectionWithDepartmentMaster_ExistDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISectionWithDepartmentMaster/ExistDepartmentResponse" message="tns:ISectionWithDepartmentMaster_ExistDepartment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISectionWithDepartmentMaster" type="tns:ISectionWithDepartmentMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/ISectionWithDepartmentMaster/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBySection">
      <soap:operation soapAction="http://tempuri.org/ISectionWithDepartmentMaster/GetBySection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByDepartment">
      <soap:operation soapAction="http://tempuri.org/ISectionWithDepartmentMaster/GetByDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/ISectionWithDepartmentMaster/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <soap:operation soapAction="http://tempuri.org/ISectionWithDepartmentMaster/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistSection">
      <soap:operation soapAction="http://tempuri.org/ISectionWithDepartmentMaster/ExistSection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistDepartment">
      <soap:operation soapAction="http://tempuri.org/ISectionWithDepartmentMaster/ExistDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SectionWithDepartmentMaster">
    <wsdl:port name="BasicHttpBinding_ISectionWithDepartmentMaster" binding="tns:BasicHttpBinding_ISectionWithDepartmentMaster">
      <soap:address location="http://localhost:3061/Master/SectionWithDepartmentMaster.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>