src/Rac.VOne.EbData/Service References/ImportFileLogService/ImportFileLogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImportFileLogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/ImportFileLogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/ImportFileLogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/ImportFileLogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
      <xsd:import schemaLocation="http://localhost:3061/ImportFileLogService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImportFileLogService_GetHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistory" />
  </wsdl:message>
  <wsdl:message name="IImportFileLogService_GetHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IImportFileLogService_DeleteItems_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItems" />
  </wsdl:message>
  <wsdl:message name="IImportFileLogService_DeleteItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IImportFileLogService_SaveImportFileLog_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveImportFileLog" />
  </wsdl:message>
  <wsdl:message name="IImportFileLogService_SaveImportFileLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveImportFileLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IImportFileLogService">
    <wsdl:operation name="GetHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportFileLogService/GetHistory" message="tns:IImportFileLogService_GetHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportFileLogService/GetHistoryResponse" message="tns:IImportFileLogService_GetHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportFileLogService/DeleteItems" message="tns:IImportFileLogService_DeleteItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportFileLogService/DeleteItemsResponse" message="tns:IImportFileLogService_DeleteItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveImportFileLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportFileLogService/SaveImportFileLog" message="tns:IImportFileLogService_SaveImportFileLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportFileLogService/SaveImportFileLogResponse" message="tns:IImportFileLogService_SaveImportFileLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImportFileLogService" type="tns:IImportFileLogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHistory">
      <soap:operation soapAction="http://tempuri.org/IImportFileLogService/GetHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItems">
      <soap:operation soapAction="http://tempuri.org/IImportFileLogService/DeleteItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveImportFileLog">
      <soap:operation soapAction="http://tempuri.org/IImportFileLogService/SaveImportFileLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImportFileLogService">
    <wsdl:port name="BasicHttpBinding_IImportFileLogService" binding="tns:BasicHttpBinding_IImportFileLogService">
      <soap:address location="http://localhost:3061/ImportFileLogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>