src/Rac.VOne.Client.Screen/Service References/CustomerFeeMasterService/CustomerFeeMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerFeeMaster" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/Master/CustomerFeeMaster.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/CustomerFeeMaster.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/CustomerFeeMaster.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerFeeMaster_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="ICustomerFeeMaster_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerFeeMaster_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="ICustomerFeeMaster_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerFeeMaster_GetForPrint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForPrint" />
  </wsdl:message>
  <wsdl:message name="ICustomerFeeMaster_GetForPrint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForPrintResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerFeeMaster_GetForExport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForExport" />
  </wsdl:message>
  <wsdl:message name="ICustomerFeeMaster_GetForExport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForExportResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerFeeMaster_Import_InputMessage">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="ICustomerFeeMaster_Import_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerFeeMaster">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerFeeMaster/Save" message="tns:ICustomerFeeMaster_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerFeeMaster/SaveResponse" message="tns:ICustomerFeeMaster_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerFeeMaster/Get" message="tns:ICustomerFeeMaster_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerFeeMaster/GetResponse" message="tns:ICustomerFeeMaster_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetForPrint">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerFeeMaster/GetForPrint" message="tns:ICustomerFeeMaster_GetForPrint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerFeeMaster/GetForPrintResponse" message="tns:ICustomerFeeMaster_GetForPrint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetForExport">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerFeeMaster/GetForExport" message="tns:ICustomerFeeMaster_GetForExport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerFeeMaster/GetForExportResponse" message="tns:ICustomerFeeMaster_GetForExport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Import">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerFeeMaster/Import" message="tns:ICustomerFeeMaster_Import_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerFeeMaster/ImportResponse" message="tns:ICustomerFeeMaster_Import_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerFeeMaster" type="tns:ICustomerFeeMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/ICustomerFeeMaster/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/ICustomerFeeMaster/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForPrint">
      <soap:operation soapAction="http://tempuri.org/ICustomerFeeMaster/GetForPrint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForExport">
      <soap:operation soapAction="http://tempuri.org/ICustomerFeeMaster/GetForExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <soap:operation soapAction="http://tempuri.org/ICustomerFeeMaster/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerFeeMaster">
    <wsdl:port name="BasicHttpBinding_ICustomerFeeMaster" binding="tns:BasicHttpBinding_ICustomerFeeMaster">
      <soap:address location="http://localhost:3061/Master/CustomerFeeMaster.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>