src/Rac.VOne.Client.Screen/Service References/CustomerFeeMasterService/CustomerFeeMaster1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3061/Master/CustomerFeeMaster.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
        <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="CustomerFees" nillable="true" type="q1:ArrayOfCustomerFee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SaveResult" nillable="true" type="q2:CustomerFeeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
        <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetResult" nillable="true" type="q3:CustomerFeeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForPrint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForPrintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetForPrintResult" nillable="true" type="q4:CustomerFeesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForExport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForExportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetForExportResult" nillable="true" type="q5:CustomerFeeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Import">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="insertList" nillable="true" type="q6:ArrayOfCustomerFee" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="updateList" nillable="true" type="q7:ArrayOfCustomerFee" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="deleteList" nillable="true" type="q8:ArrayOfCustomerFee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ImportResult" nillable="true" type="q9:ImportResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>