src/Rac.VOne.Client.Screen/Service References/NettingService/NettingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExistResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exist" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExistResult" nillable="true" type="tns:ExistResult" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="ArrayOfNetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Netting" nillable="true" type="tns:Netting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNetting" nillable="true" type="tns:ArrayOfNetting" />
  <xs:complexType name="Netting">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AssignmentFlag" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerKana" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ReceiptMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SectionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UseAdvanceReceived" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Netting" nillable="true" type="tns:Netting" />
  <xs:complexType name="NettingResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Netting" nillable="true" type="tns:ArrayOfNetting" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NettingResult" nillable="true" type="tns:NettingResult" />
  <xs:complexType name="NettingsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nettings" nillable="true" type="tns:ArrayOfNetting" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NettingsResult" nillable="true" type="tns:NettingsResult" />
</xs:schema>