src/Rac.VOne.Client.Screen/Service References/NettingService/NettingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NettingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/NettingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/NettingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/NettingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
      <xsd:import schemaLocation="http://localhost:3061/NettingService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INettingService_ExistCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistCustomer" />
  </wsdl:message>
  <wsdl:message name="INettingService_ExistCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="INettingService_ExistReceiptCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistReceiptCategory" />
  </wsdl:message>
  <wsdl:message name="INettingService_ExistReceiptCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistReceiptCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="INettingService_ExistCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistCurrency" />
  </wsdl:message>
  <wsdl:message name="INettingService_ExistCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="INettingService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="INettingService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="INettingService_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="INettingService_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="INettingService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="INettingService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="INettingService_ExistSection_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistSection" />
  </wsdl:message>
  <wsdl:message name="INettingService_ExistSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistSectionResponse" />
  </wsdl:message>
  <wsdl:portType name="INettingService">
    <wsdl:operation name="ExistCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/INettingService/ExistCustomer" message="tns:INettingService_ExistCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INettingService/ExistCustomerResponse" message="tns:INettingService_ExistCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistReceiptCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/INettingService/ExistReceiptCategory" message="tns:INettingService_ExistReceiptCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INettingService/ExistReceiptCategoryResponse" message="tns:INettingService_ExistReceiptCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistCurrency">
      <wsdl:input wsaw:Action="http://tempuri.org/INettingService/ExistCurrency" message="tns:INettingService_ExistCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INettingService/ExistCurrencyResponse" message="tns:INettingService_ExistCurrency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/INettingService/Save" message="tns:INettingService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INettingService/SaveResponse" message="tns:INettingService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/INettingService/GetItems" message="tns:INettingService_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INettingService/GetItemsResponse" message="tns:INettingService_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/INettingService/Delete" message="tns:INettingService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INettingService/DeleteResponse" message="tns:INettingService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistSection">
      <wsdl:input wsaw:Action="http://tempuri.org/INettingService/ExistSection" message="tns:INettingService_ExistSection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INettingService/ExistSectionResponse" message="tns:INettingService_ExistSection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INettingService" type="tns:INettingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExistCustomer">
      <soap:operation soapAction="http://tempuri.org/INettingService/ExistCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistReceiptCategory">
      <soap:operation soapAction="http://tempuri.org/INettingService/ExistReceiptCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistCurrency">
      <soap:operation soapAction="http://tempuri.org/INettingService/ExistCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/INettingService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/INettingService/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/INettingService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistSection">
      <soap:operation soapAction="http://tempuri.org/INettingService/ExistSection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NettingService">
    <wsdl:port name="BasicHttpBinding_INettingService" binding="tns:BasicHttpBinding_INettingService">
      <soap:address location="http://localhost:3061/NettingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>