src/Rac.VOne.Client.Screen/Service References/ClosingService/ClosingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClosingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/ClosingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/ClosingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/ClosingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClosingService_GetClosingInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClosingInformation" />
  </wsdl:message>
  <wsdl:message name="IClosingService_GetClosingInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClosingInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IClosingService_GetClosingHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClosingHistory" />
  </wsdl:message>
  <wsdl:message name="IClosingService_GetClosingHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClosingHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IClosingService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IClosingService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IClosingService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IClosingService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IClosingService">
    <wsdl:operation name="GetClosingInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IClosingService/GetClosingInformation" message="tns:IClosingService_GetClosingInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClosingService/GetClosingInformationResponse" message="tns:IClosingService_GetClosingInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClosingHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IClosingService/GetClosingHistory" message="tns:IClosingService_GetClosingHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClosingService/GetClosingHistoryResponse" message="tns:IClosingService_GetClosingHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IClosingService/Save" message="tns:IClosingService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClosingService/SaveResponse" message="tns:IClosingService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IClosingService/Delete" message="tns:IClosingService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClosingService/DeleteResponse" message="tns:IClosingService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClosingService" type="tns:IClosingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClosingInformation">
      <soap:operation soapAction="http://tempuri.org/IClosingService/GetClosingInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClosingHistory">
      <soap:operation soapAction="http://tempuri.org/IClosingService/GetClosingHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IClosingService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IClosingService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClosingService">
    <wsdl:port name="BasicHttpBinding_IClosingService" binding="tns:BasicHttpBinding_IClosingService">
      <soap:address location="http://localhost:3061/ClosingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>