src/Rac.VOne.Client.Screen/Service References/KanaHistoryCustomerMasterService/KanaHistoryCustomerMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KanaHistoryCustomerMaster" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3061/Master/KanaHistoryCustomerMaster.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/KanaHistoryCustomerMaster.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3061/Master/KanaHistoryCustomerMaster.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKanaHistoryCustomerMaster_ExistCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistCustomer" />
  </wsdl:message>
  <wsdl:message name="IKanaHistoryCustomerMaster_ExistCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IKanaHistoryCustomerMaster_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="IKanaHistoryCustomerMaster_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IKanaHistoryCustomerMaster_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IKanaHistoryCustomerMaster_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IKanaHistoryCustomerMaster_Import_InputMessage">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="IKanaHistoryCustomerMaster_Import_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:portType name="IKanaHistoryCustomerMaster">
    <wsdl:operation name="ExistCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IKanaHistoryCustomerMaster/ExistCustomer" message="tns:IKanaHistoryCustomerMaster_ExistCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKanaHistoryCustomerMaster/ExistCustomerResponse" message="tns:IKanaHistoryCustomerMaster_ExistCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IKanaHistoryCustomerMaster/GetList" message="tns:IKanaHistoryCustomerMaster_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKanaHistoryCustomerMaster/GetListResponse" message="tns:IKanaHistoryCustomerMaster_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IKanaHistoryCustomerMaster/Delete" message="tns:IKanaHistoryCustomerMaster_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKanaHistoryCustomerMaster/DeleteResponse" message="tns:IKanaHistoryCustomerMaster_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Import">
      <wsdl:input wsaw:Action="http://tempuri.org/IKanaHistoryCustomerMaster/Import" message="tns:IKanaHistoryCustomerMaster_Import_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKanaHistoryCustomerMaster/ImportResponse" message="tns:IKanaHistoryCustomerMaster_Import_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKanaHistoryCustomerMaster" type="tns:IKanaHistoryCustomerMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExistCustomer">
      <soap:operation soapAction="http://tempuri.org/IKanaHistoryCustomerMaster/ExistCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/IKanaHistoryCustomerMaster/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IKanaHistoryCustomerMaster/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <soap:operation soapAction="http://tempuri.org/IKanaHistoryCustomerMaster/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KanaHistoryCustomerMaster">
    <wsdl:port name="BasicHttpBinding_IKanaHistoryCustomerMaster" binding="tns:BasicHttpBinding_IKanaHistoryCustomerMaster">
      <soap:address location="http://localhost:3061/Master/KanaHistoryCustomerMaster.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>