src/Rac.VOne.Client.Screen/Service References/LoginUserLicenseMasterService/LoginUserLicenseMaster1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3061/Master/LoginUserLicenseMaster.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
  <xs:import schemaLocation="http://localhost:3061/Master/LoginUserLicenseMaster.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetItemsResult" nillable="true" type="q1:LoginUserLicensesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LicenseKeys" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SaveResult" nillable="true" type="q3:LoginUserLicensesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>