src/Rac.VOne.Client.Screen/Service References/LoginUserLicenseMasterService/LoginUserLicenseMaster2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginUserLicensesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoginUserLicenses" nillable="true" type="tns:ArrayOfLoginUserLicense" />
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUserLicensesResult" nillable="true" type="tns:LoginUserLicensesResult" />
  <xs:complexType name="ArrayOfLoginUserLicense">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoginUserLicense" nillable="true" type="tns:LoginUserLicense" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoginUserLicense" nillable="true" type="tns:ArrayOfLoginUserLicense" />
  <xs:complexType name="LoginUserLicense">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="LicenseKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUserLicense" nillable="true" type="tns:LoginUserLicense" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
</xs:schema>