src/Rac.VOne.Client.Screen/Service References/ReceiptMemoService/ReceiptMemoService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReceiptMemosResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
      <xs:element minOccurs="0" name="ReceiptMemo" nillable="true" type="tns:ArrayOfReceiptMemo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptMemosResult" nillable="true" type="tns:ReceiptMemosResult" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="ArrayOfReceiptMemo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceiptMemo" nillable="true" type="tns:ReceiptMemo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceiptMemo" nillable="true" type="tns:ArrayOfReceiptMemo" />
  <xs:complexType name="ReceiptMemo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptMemo" nillable="true" type="tns:ReceiptMemo" />
</xs:schema>