src/Rac.VOne.Client.Screen/Service References/CustomerGroupMasterService/CustomerGroupMaster3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3061/Master/CustomerGroupMaster.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" />
  <xs:import schemaLocation="http://localhost:3061/Master/CustomerGroupMaster.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetByParent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ParentCustomerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByParentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetByParentResult" nillable="true" type="q1:CustomerGroupsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="AddList" nillable="true" type="q2:ArrayOfCustomerGroup" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="DeleteList" nillable="true" type="q3:ArrayOfCustomerGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="SaveResult" nillable="true" type="q4:CustomerGroupResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ExistCustomerResult" nillable="true" type="q5:ExistResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetItemsResult" nillable="true" type="q6:CustomerGroupsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Import">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="InsertList" nillable="true" type="q7:ArrayOfCustomerGroup" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="UpdateList" nillable="true" type="q8:ArrayOfCustomerGroup" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="DeleteList" nillable="true" type="q9:ArrayOfCustomerGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="ImportResult" nillable="true" type="q10:ImportResultCustomerGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByChildId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChildCustomerId" nillable="true" type="q11:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByChildIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetByChildIdResult" nillable="true" type="q12:CustomerGroupsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintCustomerData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintCustomerDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetPrintCustomerDataResult" nillable="true" type="q13:CustomerGroupsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerForCustomerGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerForCustomerGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetCustomerForCustomerGroupResult" nillable="true" type="q14:CustomerGroupResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasChild">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ParentCustomerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasChildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="HasChildResult" nillable="true" type="q15:ExistResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUniqueGroupCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q16:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUniqueGroupCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Rac.VOne.Web.Models" minOccurs="0" name="GetUniqueGroupCountResult" nillable="true" type="q17:CountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>